{% load static %}
<div class="banner-group">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-sm-6">
            <div class="banner banner-overlay">
              <img src="{% static 'user/images/grid/grid-1.jpg' %}" alt="Banner" />

              <div class="banner-content banner-content-right">
                <h4 class="banner-subtitle"><a href="{% url 'sneakers_and_athletic_page' %}">New Arrivals</a></h4>
                <h3 class="banner-title text-white"><a href="{% url 'sneakers_and_athletic_page' %}">Sneakers & <br />Athletic Shoes</a></h3>
                <a href="{% url 'sneakers_and_athletic_page' %}" class="btn btn-outline-white banner-link btn-round">Discover Now</a>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <form action="{% url 'sneakers_and_athletic_page' %}" method="get">
              <div class="banner banner-overlay banner-overlay-light">
                <img src="{% static 'user/images/grid/grd-2.jpg' %}" alt="Banner" />
                <div class="banner-content">
                  <h4 class="banner-subtitle bright-black"><a href="#">Clearance</a></h4>
                  <h3 class="banner-title"><a href="#">Womens Running Shoe</a></h3>
                  <div class="banner-text">
                  </div>
                  <input type="hidden" name="women_running_shoe" value="1">
                  <button class="btn btn-outline-gray banner-link btn-round">Shop Now</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <form action="{% url 'sneakers_and_athletic_page' %}" method="get">
          <div class="banner banner-large banner-overlay d-none d-sm-block">
            <img src="{% static 'user/images/grid/grid-3.jpg' %}" alt="Banner" />
            <div class="banner-content">
              <h4 class="banner-subtitle text-white"><a href="#">On Sale</a></h4>
              <h3 class="banner-title text-white"><a href="#">Running Shoes</a></h3>
              <div class="banner-text text-white">
              </div>
              <input type="hidden" name="running_shoes" value="1">
              <button class="btn btn-outline-gray banner-link btn-round border text-white border-white">Shop Now</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-lg-4 d-sm-none d-lg-block">
        <form action="{% url 'sneakers_and_athletic_page' %}" method="get">
          <div class="banner banner-middle banner-overlay">
            <img src="{% static 'user/images/grid/grid-4.jpg' %}" alt="Banner" />

            <div class="banner-content banner-content-bottom">
              <h4 class="banner-subtitle text-white"><a href="#">On Sale</a></h4>
              <h3 class="banner-title text-white"><a href="#">Amazing <br />Lace Up Boots</a></h3>
              <div class="banner-text text-white">
              </div>
              <input type="hidden" name="boots" value="1">
              <button class="btn btn-outline-gray banner-link btn-round border text-white border-white">Shop Now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
