<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container container">
  <div class="mobile-menu-wrapper">
    <span class="mobile-menu-close"><i class="icon-close"></i></span>

    <form action="{% url 'shop_page_view' %}" method="get" class="mobile-search">
      <label for="mobile-search" class="sr-only">Search</label>
      <input type="search" class="form-control" name="search_query" id="mobile-search" placeholder="Search in..." required />
      <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
    </form>

    <nav class="mobile-nav">
      <ul class="mobile-menu">
        <li class="active">
          <a href="{% url 'index_page' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'shop_page_view' %}">Shop</a>
        </li>
        <li>
          <a href="#" class="sf-with-ul">Women</a>
        </li>
        <li>
          <a href="#">Men</a>
        </li>
        <li>
          <a href="#">Kids</a>
        </li>
        <li>
          <a href="{% url 'user_dashboard' %}">Account</a>
        </li>
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
