{% load static %}
<div class="container">
  <div class="heading heading-center mb-3">
    <h2 class="title-lg mb-2">Top Selling Products</h2>

    <ul class="nav nav-pills justify-content-center" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="top-all-link" data-toggle="tab" href="#top-all-tab" role="tab" aria-controls="top-all-tab" aria-selected="true">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="top-women-link" data-toggle="tab" href="#top-women-tab" role="tab" aria-controls="top-women-tab" aria-selected="false">Women's</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="top-men-link" data-toggle="tab" href="#top-men-tab" role="tab" aria-controls="top-men-tab" aria-selected="false">Men's</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel" aria-labelledby="top-all-link">
      <div class="products just-action-icons-sm">
        <div class="row">
          {% for top_product in top_selling_products %}
            <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
              <div class="product product-3 text-center">
                <figure class="product-media">
                  {% if top_product in newest_five_products %}
                    <span class="product-label bg-success text-white">New</span>
                  {% endif %}
                  {% if  not top_product.in_stock %}
                    <span class="product-label bg-danger text-white">Out of stock</span>
                  {% endif %}
                  <a href="{% url 'product_single_view_page' top_product.products.name top_product.id %}"><img src="{{ top_product.main_image.url }}" alt="Product image" class="product-image" /></a>
                </figure>

                <div class="product-body">
                  <div class="product-cat">
                    <span>{{ top_product.products.type }}</span>
                  </div>
                  <h3 class="product-title"><a href="{% url 'product_single_view_page' top_product.products.name top_product.id %}">{{ top_product.products.name }}</a></h3>
                  <div class="product-price">
                    <span class="text-dark">₹{{ top_product.price }}.00</span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% comment %}WOMEN{% endcomment %}
    <div class="tab-pane p-0 fade" id="top-women-tab" role="tabpanel" aria-labelledby="top-women-link">
      <div class="products just-action-icons-sm">
        <div class="row">
          {% for women_product in women_top_selling_products %}
            <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
              <div class="product product-3 text-center">
                <figure class="product-media">
                  <a href="{% url 'product_single_view_page' women_product.products.name women_product.id %}"><img src="{{women_product.main_image.url}}" alt="Product image" class="product-image" /></a>
                </figure>
                <div class="product-body">
                  <div class="product-cat">
                    <span>{{women_product.products.type}}</span>
                  </div>
                  <h3 class="product-title"><a href="{% url 'product_single_view_page' women_product.products.name women_product.id %}">{{women_product.products.name}}</a></h3>
                  <div class="product-price">₹{{women_product.price}}.00</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% comment %}MEN{% endcomment %}
    <div class="tab-pane p-0 fade" id="top-men-tab" role="tabpanel" aria-labelledby="top-men-link">
      <div class="products just-action-icons-sm">
        <div class="row">
          {% for men_product in men_top_selling_products %}
            <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
              <div class="product product-3 text-center">
                {% if men in newest_five_products %}
                    <span class="product-label bg-success text-white">New</span>
                {% endif %}
                {% if not men_product.in_stock %}
                  <span class="product-label bg-danger text-white">Out of stock</span>
                {% endif %}
                <figure class="product-media">
                  <a href="{% url 'product_single_view_page' men_product.products.name men_product.id %}"><img src="{{ men_product.main_image.url }}" alt="Product image" class="product-image" /></a>
                </figure>
                <div class="product-body">
                  <div class="product-cat">
                    <span>{{men_product.products.type}}</span>
                  </div>
                  <h3 class="product-title"><a href="{% url 'product_single_view_page' men_product.products.name men_product.id %}">{{men_product.products.name}}</a></h3>
                  <div class="product-price">₹{{men_product.price}}.00</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="more-container text-center mt-5"></div>
</div>
