{% extends 'admin_base.html' %}

{% block custom_css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'admin_css/add_product_variants.css' %}" />
{% endblock %}

{% block title %}
  <title>SneakerHeads Add Product Variants</title>
{% endblock %}

{% block content %}
  <h1>Add Product Variant</h1>
  <form action="" method="post" enctype="multipart/form-data" id="variantForm">
    {% csrf_token %}
    <label for="product">Product</label>
    <select name="product" id="product">
      <option value="" disabled selected>Select Product</option>
      {% for product in products %}
        <option value="{{ product.id }}">{{ product.name }}</option>
      {% endfor %}
    </select>
    <label for="product">Product Color</label>
    <select name="product" id="product">
      <option value="" disabled selected>Select Product</option>
      {% for color in product_color %}
        <option value="">{{ color.color }}</option>
      {% endfor %}
    </select>
    <label for="size">Size</label>
    <select name="size" id="size">
      <option value="" disabled selected>Select Size</option>
    </select>
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" required />
    <button type="submit" id="addVariantBtn" class="btn btn-success rounded rounded-0 w-100 my-2">Add Variant</button>
  </form>
{% endblock %}

{% block custom_scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#product').change(function () {
        var productId = $(this).val()
        if (productId) {
          $.ajax({
            url: '{% url "get_sizes" %}',
            data: { product_id: productId },
            dataType: 'json',
            success: function (data) {
              var sizeSelect = $('#size')
              sizeSelect.empty().append('<option value="">Select Size</option>')
              $.each(data.sizes, function (index, size) {
                sizeSelect.append('<option value="' + size + '">' + size + '</option>')
              })
            },
            error: function (xhr, status, error) {
              console.error('Error fetching sizes:', error)
            }
          })
        } else {
          $('#size').empty().append('<option value="">Select Size</option>')
        }
      })
    
      $('#addVariantBtn').click(function () {
        // Perform additional validation or submit form here
        $('#variantForm').submit()
      })
    })
  </script>
{% endblock %}
