{% extends 'admin_base.html' %}

{% block custom_css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'admin_css/product.css' %}" />
{% endblock %}

{% block title %}
  <title>SneakerHeads Products</title>
{% endblock %}

{% block content %}
  <div class="container main-container text-center">
    <div class="mb-4 d-flex justify-content-between align-products-center">
      <h2>Manage Products</h2>
      <a href="{% url 'deleted_product_page' %}"><span class="d-inline-flex justify-content-center align-products-center" style="width: 40px; height: 40px;"><i class="bi bi-trash" style="color: #c70a0a; font-size: 22px; animation: bounce 1s ease infinite;"></i></span></a>
    </div>
    {% if messages %}
      {% for message in messages %}
        <div class="text-center container mb-5">
          <h4>{{ message }}</h4>
        </div>
      {% endfor %}
    {% endif %}
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Total Quantity</th>
          <th>Type</th>
          <th>Price</th>
          <th>Category</th>
          <th>Brand</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for color in product_color %}
          <tr>
            <td class="align-middle">
              {% if color.main_image %}
                <img class="my-2" src="{{ color.main_image.url }}" alt="{{ color.products.name }}" style="max-width: 100px;" />
                <br>
                {% if color.is_listed %}
                  <span class="badge bg-success"> Product in Stock</span>
                {% else %}
                  <span class="badge bg-danger">Out of Stock</span>
                {% endif %}
              {% else %}
                <span>No Image Available</span>
              {% endif %}
            </td>            
            <td class="align-middle" style="max-width: 200px; word-wrap: break-word;">{{ color.products.name }}</td>
            <td class="align-middle">{{ color.total_quantity }}</td>
            <td class="align-middle">{{ color.products.type }}</td>
            <td class="align-middle">{{ color.price }}</td>
            <td class="align-middle">{{ color.products.category.name }}</td>
            <td class="align-middle">{{ color.products.brand.name }}</td>
            <td class="align-middle">
              <div class="btn-group">
                <a href="{% url 'edit_product_page' color.id %}" class="btn btn-outline-info rounded-start">Edit</a>
                {% if color.is_listed %}
                  <a href="{% url 'un_list_product' color.id %}" class="btn btn-outline-info">Unlist</a>
                {% else %}
                  <a href="{% url 'list_product' color.id %}" class="btn btn-outline-info">List</a>
                {% endif %}
                {% if not color.is_deleted %}
                  <a href="{% url 'delete_product' color.id %}" class="btn btn-outline-info rounded-end">Delete</a>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if not product_color %}
    <div class="container text-center justify-content-center align-products-center mt-5">
      <h3>No products to show</h3>
    </div>
  {% endif %}
{% endblock %}
