{% extends 'admin_base.html' %}

{% load static %}

{% block custom_css %}
  <link rel="stylesheet" href="{% static 'admin_css/product.css' %}" />
{% endblock %}

{% block title %}
  <title>SneakerHeads Products</title>
{% endblock %}

{% block content %}
  <div class="container main-container text-center">
    <div class="mb-4 d-flex justify-content-between align-products-center">
      <h2>Manage Products</h2>
      <a href="{% url 'deleted_product_page' %}"><span class="d-inline-flex justify-content-center align-products-center" style="width: 40px; height: 40px;"><i class="bi bi-trash" style="color: #c70a0a; font-size: 22px; animation: bounce 1s ease infinite;"></i></span></a>
    </div>
    {% if product_color %}
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="search-bar">
            <form action="{% url 'list_product_page' %}" method="get">
              {% csrf_token %}
              <input type="text" class="search-input form-control" placeholder="Search for products" name="query" aria-label="Search for users" aria-describedby="button-search" />
              <button type="submit" class="search-button btn" type="button" id="button-search">Search</button>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
    {% if messages %}
      {% for message in messages %}
        <div class="text-center container my-4">
          {% if message.tags == 'success' %}
            <h4 style="color: green;">{{ message }}</h4>
          {% elif message.tags == 'error' %}
            <h4 style="color: red;">{{ message }}</h4>
          {% elif message.tags == 'info' %}
            <h4 style="color: blue;">{{ message }}</h4>
          {% else %}
            <h4>{{ message }}</h4>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}

    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Type</th>
          <th>Price</th>
          <th>Category</th>
          <th>Brand</th>
          <th>Size</th>
          <th>Quantity</th>
          <th>Total Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for color in product_color %}
          <tr>
            <td class="align-middle">
              {% if color.main_image %}
                <img class="my-2" src="{{ color.main_image.url }}" alt="{{ color.products.name }}" style="max-width: 100px;" />
                <br />
                {% if color.in_stock %}
                  <span class="badge bg-success">Product in Stock</span>
                {% else %}
                  <span class="badge bg-warning">Product out of stock</span>
                {% endif %}
                {% if not color.is_listed %}
                  <br />
                  <span class="badge bg-danger mt-2">Product is blocked</span>
                {% endif %}
              {% endif %}
            </td>
            <td class="align-middle" style="max-width: 200px; word-wrap: break-word;">{{ color.products.name }}</td>

            <td class="align-middle">{{ color.products.type }}</td>
            <td class="align-middle">₹{{ color.price }}</td>
            <td class="align-middle">{{ color.products.category.name }}</td>
            <td class="align-middle">{{ color.products.brand.name }}</td>
            <td class="align-middle">
              {% for size in color.productsize_set.all %}
                <div>
                  <span class="size">{{ size.size }}</span>
                </div>
                {% empty %}No Sizes Available
              {% endfor %}
            </td>
            <td class="align-middle">
              {% for size in color.productsize_set.all %}
                <div>
                  {% if size.quantity == 0 %}
                    <span class="quantity text-warning">{{ size.quantity }}</span>
                  {% else %}
                    <span class="quantity">{{ size.quantity }}</span>
                  {% endif %}
                </div>
                {% empty %}No Quantity Available
              {% endfor %}
            </td>
            {% if color.total_quantity == 0 %}
              <td class="align-middle text-warning">{{ color.total_quantity }}</td>
            {% else %}
              <td class="align-middle">{{ color.total_quantity }}</td>
            {% endif %}
            <td class="align-middle">
              <div class="btn-group">
                <a href="{% url 'edit_product_page' color.id %}" class="btn btn-outline-primary rounded-start">Edit</a>
                {% if color.is_listed %}
                  <a href="{% url 'un_list_product' color.id %}" class="btn btn-outline-primary">Unlist</a>
                {% else %}
                  <a href="{% url 'list_product' color.id %}" class="btn btn-outline-primary">List</a>
                {% endif %}
                {% if not color.is_deleted %}
                  <a href="{% url 'delete_product' color.id %}" class="btn btn-outline-primary rounded-end">Delete</a>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if not product_color %}
    <div class="container text-center justify-content-center align-products-center mt-5">
      <h3>No products to show</h3>
    </div>
  {% endif %}
{% endblock %}
