<div class="row">
  {% for address in addresses %}
    <div class="col-lg-6">
      <div class="card card-dashboard">
        <div class="card-body">
          <h3 class="card-title">Billing Address</h3>

          <div class="address-info">
            <p>
              <span class="name"> {{ address.name }} </span><br />
              <span class="phone_number"> {{ address.phone_number }} </span><br />
              <span class="street"> {{ address.street_address }} </span><br />
              <span class="city_state_country"> {{ address.city }}, {{ address.state }}, {{ address.country }}</span><br />
              <span class="pincode"> {{ address.pin_code }} </span><br />
              <a href="#" class="edit-action" onclick="toggleEdit('billing')">Edit <i class="icon-edit"></i></a>
            </p>
            <form action="#" method="post" id="billing-address-form" style="display: none;">
              {% csrf_token %}
              <label for="name"></label>
              <button type="submit" form="billing-address-form" class="save-button btn btn-primary">Save</button>
              <span class="cancel-action" onclick="cancelEdit('billing')">Cancel <i class="bi bi-x-lg"></i></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="col-lg-6">
    <div class="card card-dashboard">
      <div class="card-body">
        <h3 class="card-title">Shipping Address</h3>

        <div class="address-info">
          <p>
            You have not set up this type of address yet.<br />
            <a href="#" class="edit-action" onclick="toggleEdit('shipping')">Edit <i class="icon-edit"></i></a>
          </p>
          <form action="#" method="post" id="shipping-address-form" style="display: none;">
            {% csrf_token %}
            <!-- Your input fields for editing shipping address here -->
            <button type="submit" form="shipping-address-form" class="save-button btn btn-primary">Save</button>
            <span class="cancel-action" onclick="cancelEdit('shipping')">Cancel <i class="bi bi-x-lg"></i></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
