@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container-podcast {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/podcasts-bg.png');
    height: 50vh;
    width: 100vh;
    background-size: cover;
}

.background-heading {
    font-family: "Roboto";
    font-size: 50px;
    padding: 20px;
    color: white;
}
.channel-card{
    text-align: center;
    padding: 20px;
    
}
.heading-channels {
    text-align: center;
    color: #151765;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.image-size {
    height: 180px;
    width: 200px;
}

.paragraph-channel{
    text-align: center;
    font-family: "Roboto";
}