<div class="col-lg-12 px-0">
  <div class="card card-dashboard">
    <div class="card-body">
      <h3 class="card-title">Shipping Address</h3>

      <div class="shipping-address-info">
        <p>
          ADD A NEW ADDRESS<br />
          <a href="#" id="shipping-edit-link" class="edit-action" onclick="toggleEdit('shipping', 'shipping-edit-link')">Add <i class="bi bi-plus-square-dotted"></i></a>
        </p>
        <form action="{% url 'add_new_address' customer.id %}" method="post" id="shipping-address-form" style="display: none;">
          {% csrf_token %}
          <label for="name">Name</label><br />
          <input type="text" required name="name"/><br>

          <label for="phone_number">Phone Number</label><br />
          <input type="text" required name="phone_number"/><br>

          <label for="country">Country</label><br />
          <input type="text" name="country"/><br>

          <label for="state">State</label>
          <input type="text" required name="state"/><br />

          <label for="city">City</label><br />
          <input type="text" required name="city"/><br>

          <label for="street_address">Street Address</label><br />
          <input type="text" required name="street_address"/><br>

          <label for="pincode">Pincode</label><br />
          <input type="text" required name="pincode"/><br>

          <br><button type="submit" form="shipping-address-form" class="save-button btn btn-primary my-3">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="row">
  {% for address in addresses %}
    <div class="col-lg-6">
      <div class="card card-dashboard">
        <div class="card-body">
          <h3 class="card-title">Billing Address</h3>

          <div class="address-info" id="address-info-{{ address.id }}">
            <p>
              <span class="name">{{ address.name }}</span><br />
              <span class="phone_number">{{ address.phone_number }}</span><br />
              <span class="street">{{ address.street_address }}</span><br />
              <span class="city_state_country">{{ address.city }}, {{ address.state }}, {{ address.country }}</span><br />
              <span class="pincode">{{ address.pin_code }}</span><br />
              <a href="#" class="edit-action" onclick="editAddress({{ address.id }})">Edit <i class="icon-edit"></i></a>
            </p>
          </div>

          <div class="address-edit-form" id="address-edit-form-{{ address.id }}" style="display: none;">
            <form action="{% url 'update_address' address.id %}" method="post">
              {% csrf_token %}
              <label for="name">Name</label>
              <input type="text" required name="name" value="{{ address.name }}" /><br />

              <label for="phone_number">Phone Number</label>
              <input type="text" required name="phone_number" value="{{ address.phone_number }}" /><br />

              <label for="street_address">Address (Area and Street)</label>
              <input type="text" required name="street_address" value="{{ address.street_address }}" /><br />

              <label for="city">City/District/Town</label>
              <input type="text" required name="city" value="{{ address.city }}" /><br />

              <label for="state">State</label>
              <input type="text" required name="state" value="{{ address.state }}" /><br />

              <label for="country">Country</label>
              <input type="text" required name="country" value="{{ address.country }}" /><br />

              <label for="pin_code">Pincode</label>
              <input type="text" required name="pin_code" value="{{ address.pin_code }}" /><br />

              <div>
                <button type="submit" class="save-button btn btn-primary my-3">Save</button> <br />
                <a href="#" class="cancel-action my-3" onclick="cancelEdit({{ address.id }})">Cancel <i class="bi bi-x-lg"></i></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

