{% extends 'admin_base.html' %}

{% load static %}

{% block title %}
  <title>Sneakerheads Manage Order</title>
{% endblock %}

{% block custom_css %}
  <link rel="stylesheet" href="{% static 'admin_css/orders.css' %}" />
{% endblock %}

{% block content %}
  <div class="orders">
    <h1>Manage Orders</h1>
    {% if messages %}
      <div class="text-center py-2 mb-4">
        {% for message in messages %}
          <h4>{{ message }}</h4>
        {% endfor %}
      </div>
    {% endif %}
    <table>
      <thead>
        <tr>
          <th class="product-image-column">Product</th>
          <th class="order-id-column">Order ID</th>
          <th class="customer-column">Customer</th>
          <th class="order-product">Product</th>
          <th class="status-column">Status</th>
          <th class="price-column">Price</th>
          <th class="size-column">Size</th>
        </tr>
      </thead>
      <tbody>
        {% for item in order_item %}
          <tr>
            <td><img src="{{ item.product.product_color_image.main_image.url }}" style="max-width: 100px;" alt=""></td>
            <td>
              <a href="{% url 'order_detailed_view' item.order_items_id %}">{{ item.order_items_id }}</a>
              {% if item.cancel_product %}
                <span class="cancel-request">Cancelled</span>
              {% elif item.request_cancel %}
                <span class="cancel-request">Cancel Requested</span>
              {% elif item.request_return %}
                {% if item.return_product %}
                  <span class="return-request">Order Returned</span>
                {% else %}
                  <span class="return-request">Return Requested</span>
                {% endif %}
              {% endif %}
            </td>
            <td>{{ item.order.customer.user.first_name }} {{ item.order.customer.user.last_name }}</td>
            <td>{{ item.product}}</td>
            <td>{{ item.order_status }}</td>
            <td>{{ item.each_price }}</td>
            <td>{{ item.product.size }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
