{% extends 'admin_base.html' %}

{% load static %}

{% block title %}
  <title>Sneakerheads Manage Order</title>
{% endblock %}

{% block custom_css %}
  <link rel="stylesheet" href="{% static 'admin_css/order_details.css' %}">
{% endblock %}

{% block content %}
  <div class="order-details-container">
    <h1 class="page-title">Order Details</h1>
    <div class="order-details-table">
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>{{ order_item.product.product_color_image.products.name }}</td>
              <td>{{ order_item.quantity }}</td>
              <td>₹{{ order_item.each_price }}</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="order-address">
      <h2>Delivery Address</h2>
      <p class="py-1"><strong>Name :</strong> {{ order_item.order.customer.user.first_name }} {{ orders.customer.user.last_name }}</p>
      <p class="py-1"><strong>Address :</strong> {{ order_item.order.address.street_address }}</p>
      <p class="py-1"><strong>City :</strong> {{ order_item.order.address.city }}</p>
      <p class="py-1"><strong>State :</strong> {{ order_item.order.address.state }}</p>
      <p class="pt-1"><strong>Zip Code :</strong> {{ order_item.order.address.pin_code }}</p>
    </div>
    <div class="order-status-form">
      {% if not order_item.cancel_product %}
        {% if not order_item.order_status == 'Delivered' %}
          {% if not order_item.order_status == 'Returned' %}
            <h2>Change Order Status</h2>
            <form action="{% url 'change_order_status' order_item.order_items_id %}" method="post">
              {% csrf_token %}
              <select name="order_status" class="status-select">
                <option value="Order Placed" {% if order_item.order_status == "Order Placed" %} selected {% endif %}>Order Placed</option>
                <option value="Shipped" {% if order_item.order_status == "Shipped" %} selected {% endif %}>Shipped</option>
                <option value="Out for Delivery" {% if order_item.order_status == "Out for Delivery" %} selected {% endif %}>Out for Delivery</option>
                <option value="Delivered" {% if order_item.order_status == "Delivered" %} selected {% endif %}>Delivered</option>
              </select>
              <button type="submit" class="status-button">Change Status</button>
            </form>
          {% else %}
            <span class="bg-warning text-black py-1 px-2 rounded rounded-1"><strong>Order Returned and Refund completed</strong></span>
          {% endif %}
        {% else %}
          {% if order_item.request_return %}
            {% if not order_item.return_product %}
              <a href="{% url 'return_product' order_item.order_items_id %}">
                <button class="btn btn-warning rounded rounded-1">Accept Return</button>
              </a>
            {% endif %}
          {% else %}
            <p><strong>Order Status :</strong> Delivered</p>
          {% endif %}
        {% endif %}
      {% else %}
        <span class="bg-danger text-black py-1 px-2 rounded rounded-1"><strong>Order Cancelled</strong></span>
      {% endif %}
    </div>    
  </div>
{% endblock %}
