body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling on small screens */
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

/* Center align the content */
.text-center {
    text-align: center;
}

/* Center align the table */
table {
    margin: 0 auto; /* Center the table horizontally */
}

.align-middle {
    vertical-align: middle;
}

.rounded-start {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  .rounded-end {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  
th, td {
    padding: 12px 15px;
    text-align: center; /* Align the text in the center */
    vertical-align: middle; /* Vertically align the content in the middle */
    border-bottom: 1px solid #ddd;
}

/* Center align the table */
table {
    margin: 0 auto; /* Center the table horizontally */
    text-align: center; /* Center align text within table cells */
}

/* Center align text within table cells */
th, td {
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {
    table {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    th, td {
        padding: 8px 10px;
    }
    h1 {
        font-size: 24px;
    }
}