{% extends 'admin_base.html' %}

{% load static %}

{% block title %}
  <title>Sneakerheads Manage Banner</title>
{% endblock %}

{% block custom_css %}

{% endblock %}

{% block content %}
  <div class="orders">
    <h1>Manage Banner</h1>
    
    {% if messages %}
      {% for message in messages %}
        <div class="text-center container my-4">
          {% if message.tags == 'success' %}
            <h4 style="color: green;">{{ message }}</h4>
          {% elif message.tags == 'error' %}
            <h4 style="color: red;">{{ message }}</h4>
          {% elif message.tags == 'info' %}
            <h4 style="color: blue;">{{ message }}</h4>
          {% else %}
            <h4>{{ message }}</h4>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
    <table>
      <thead>
        <tr>

        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
{% endblock %}
