{% extends 'admin_base.html' %}

{% block custom_css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'admin_css/add_category_page.css' %}" />
{% endblock %}

{% block title %}
  <title>SneakerHeads Add Category</title>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2 class="text-center mt-2 mb-4">Add Category</h2>
    <form action="{% url 'add_categories' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="category_name">Name</label>
        <input type="text" class="form-control" id="category_name" name="category_name" required />
      </div>
      <div class="form-group">
        <label for="category_description">Description</label>
        <textarea class="form-control" id="category_description" name="category_description" rows="5"></textarea>
      </div>
      {% if messages %}
        <div class="text-center py-2 mb-4">
          {% for message in messages %}
            <h4>{{ message }}</h4>
          {% endfor %}
        </div>
      {% endif %}
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Add Category</button>
      </div>
    </form>
  </div>
{% endblock %}
