{% extends 'admin_base.html' %}

{% block custom_css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'admin_css/add_category_page.css' %}" />
{% endblock %}

{% block title %}
  <title>SneakerHeads Edit Category</title>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2 class="text-center mt-2 mb-4">Add Category</h2>
    <form action="{% url 'edit_category' category.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="category_name">Name</label>
        <input type="text" class="form-control" id="category_name" value=" {{category.name}} " name="category_name" required />
      </div>
      <div class="form-group">
        <label for="category_description">Description</label>
        <textarea class="form-control" id="category_description" name="category_description" rows="5"> {{category.description}} </textarea>
      </div>
      {% if messages %}
        <div class="text-center py-2 mb-4">
          {% for message in messages %}
            <h4>{{ message }}</h4>
          {% endfor %}
        </div>
      {% endif %}
      <div class="text-center">
        <button type="submit" class="btn btn-primary w-25">SAVE</button>
      </div>
    </form>
  </div>
{% endblock %}
