body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #5f2c82, #49a09d);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.8); /* Reduce opacity */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .login-container:hover {
    transform: translateY(-5px);
  }
  
  .login-container h2 {
    margin-top: 0;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.8); /* Reduce opacity */
  }
  
  .login-container input[type='text'],
  .login-container input[type='password'] {
    width: calc(100% - 40px);
    padding: 12px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 25px;
    background-color: rgba(242, 242, 242, 0.8); /* Reduce opacity */
    box-sizing: border-box;
    transition: all 0.3s ease;
  }
  
  .login-container input[type='text']:focus,
  .login-container input[type='password']:focus {
    background-color: rgba(220, 220, 220, 0.8); /* Reduce opacity */
  }
  
  .login-container input[type='submit'] {
    background-color: rgba(73, 160, 157, 0.8); /* Reduce opacity */
    border: none;
    color: rgba(255, 255, 255, 0.9); /* Reduce opacity */
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    width: calc(100% - 40px);
    transition: all 0.3s ease;
  }
  
  .login-container input[type='submit']:hover {
    background-color: rgba(77, 123, 130, 0.8); /* Reduce opacity */
  }
  
  .remember-me-forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .remember-me,
  .forgot-password {
    flex: 1;
  }
  
  .forgot-password a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
  }
  
  .forgot-password a:hover {
    color: #555;
  }