{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>SneakerHeads Admin</title>
    {% comment %}Plugin CSS{% endcomment %}
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
    {% comment %}Bootstrap icons{% endcomment %}
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}" />
    {% comment %}Inject CSS{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}" />

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
    {% comment %}Bootstrap{% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'admin_css/customer.css' %}" />
  </head>

  <body>
    <div class="container-scroller">
      {% include 'admin_navbar.html' %}
      <div class="container-fluid page-body-wrapper">
        {% include 'admin_sidebar.html' %}

        <div class="main-panel">
          <div class="content-wrapper">
            {% include 'customer_list.html' %}
          </div>

          {% include 'admin_footer.html' %}

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- endinject -->
  </body>
</html>
