.col-lg-3 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.col-lg-3:hover {
    transform: scale(1.05);
}

.summary {
    background-color: #F7F7F7;
    animation: fadeIn 0.5s ease forwards;
}

.summary:hover {

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.table-summary {
    width: 100%;
    background-color: #F7F7F7;
    margin-bottom: 20px;
}

.table-summary th,
.table-summary td {
    background-color: #F7F7F7;
}

.card {
    background-color: #F7F7F7;
}

.card-header {
    background-color: #F7F7F7;
    color: #000;
    cursor: pointer;
}

.card-body {
    background-color: #F7F7F7;
    max-height: 0;
    overflow: hidden;
}

.accordion-summary {
    margin-top: 30px;
    animation: slideInRight 0.5s ease forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.custom-radio label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #09386b;
    background-color: #fff;
    flex-shrink: 0;
    margin-right: 10px;
}

.custom-radio input[type="radio"]:checked+label:before {
    background-color: #09386b;
}

.custom-radio label span {
    color: #000;
    font-weight: normal;
}

.address-details,
.delivery-address-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.address-heading {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.address-select-label {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

.address-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.address-item {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.custom-radio-input {
    display: none;
}

.custom-radio-label {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-radio-label:hover {
    background-color: #f0f0f0;
}

.custom-radio-input:checked+.custom-radio-label {
    background-color: #929da4;
    color: #fff;
}

.custom-radio-input:checked+.custom-radio-label .address-name {
    color: #fff;
}

.address-name {
    margin: 15px;
    font-weight: bold;
}

.address-details {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #666;
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.address-item {
    animation: slideInFromLeft 0.5s ease forwards;
}

.payment-method {
    margin-right: 10px;
    font-size: 24px;
}

.payment-method i {
    color: #173f69;
}