body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 960px;
}

.order-details-container,
.product-details-container,
.summary {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.order-details-container h2,
.product-details-container h2,
.summary-title {
    color: #1F618D;
    margin-bottom: 20px;
}

.btn{
  background-color: #1F618D;
}
.order-details-container p,
.product-details-container .product-details,
.summary table td {
    margin-bottom: 10px;
}

.product-details-container .product-details {
    display: flex;
}

.product-details-container .product-details .product-image {
    flex: 0 0 30%;
}

.product-details-container .product-details .product-image img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details-container .product-details .product-info {
    flex: 1;
}

.summary table th,
.summary table td {
    border: none;
    padding: 10px 0;
}

@media (max-width: 767px) {
    .order-details-container,
    .product-details-container,
    .summary {
        padding: 10px;
    }

    .order-details-container h2,
    .product-details-container h2,
    .summary-title {
        font-size: 1.2rem;
    }
}
