<aside class="col-lg-3 order-lg-first">
  <div class="sidebar sidebar-shop">
    <div class="widget widget-clean">
      <label>Filters:</label>
      <a href="{% url 'shop_page_view' %}">Clean All</a>
    </div>

    <div class="widget widget-collapsible">
      <h3 class="widget-title"><a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">Category</a></h3>

      <div class="collapse show" id="widget-1">
        <div class="widget-body">
          <div class="filter-items filter-items-count">
            <form method="get" id="categoryForm" action="{% url 'shop_page_view' %}">
              {% csrf_token %}
              {% for category in category_list %}
                  <div class="filter-item">
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="cat-{{ forloop.counter }}" name="category_wise" value="{{ category.name }}" {% if category.name in selected_categories %}checked{% endif %} />
                          <label class="custom-control-label" for="cat-{{ forloop.counter }}">{{ category.name }}</label>
                      </div>
                      <span class="item-count">{{ category.product_count }}</span>
                  </div>
              {% endfor %}
              {% for brand in selected_brands %}
                <input type="hidden" name="brand_wise" value="{{ brand }}">
              {% endfor %}
            </form>
          </div>        
        </div>
      </div>
    </div>

    {% comment %} <div class="widget widget-collapsible">
      <h3 class="widget-title"><a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true" aria-controls="widget-2">Size</a></h3><!-- End .widget-title -->

      <div class="collapse show" id="widget-2">
        <div class="widget-body">
          <div class="filter-items">
            <div class="filter-item">
              {% for size in color.productsize_set.all %}
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="size-1" />
                  <label class="custom-control-label" for="size-1">{{ size.size }}</label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}

    <div class="widget widget-collapsible">
      <h3 class="widget-title"><a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">Brand</a></h3><!-- End .widget-title -->

      <div class="collapse show" id="widget-4">
        <div class="widget-body">
          <div class="filter-items">
            <form id="brandForm" action="{% url 'shop_page_view' %}" method="get">
              {% csrf_token %}
              {% for brand in brand_list %}
              <div class="filter-item filter-items-count">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="brand_wise" value="{{ brand.name }}" id="brand-{{ forloop.counter }}" {% if brand.name in selected_brands %}checked{% endif %} onchange="this.form.submit()" />
                  <label class="custom-control-label" for="brand-{{ forloop.counter }}">{{ brand.name }}</label>
                </div>
                {% if brand.product_count > 0 %}
                  <span class="item-count">{{ brand.product_count }}</span>
                {% endif %}
              </div>
              {% endfor %}

              {% for category in selected_categories %}
                <input type="hidden" name="category_wise" value="{{ category }}">
              {% endfor %}
              <input type="hidden" name="sortby" value="{{ sortby }}">
            </form>
          </div>
        </div>
      </div>
      
    </div>

    {% comment %} <div class="widget widget-collapsible">
      <h3 class="widget-title"><a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-3">Colour</a></h3><!-- End .widget-title -->

      <div class="collapse show" id="widget-3">
        <div class="widget-body">
          <div class="filter-colors">
            <a href="#" style="background: #b87145;"><span class="sr-only">Color Name</span></a>
            <a href="#" style="background: #f0c04a;"><span class="sr-only">Color Name</span></a>
            <a href="#" style="background: #333333;"><span class="sr-only">Color Name</span></a>
            <a href="#" class="selected" style="background: #cc3333;"><span class="sr-only">Color Name</span></a>
            <a href="#" style="background: #3399cc;"><span class="sr-only">Color Name</span></a>
            <a href="#" style="background: #669933;"><span class="sr-only">Color Name</span></a>
            <a href="#" style="background: #f2719c;"><span class="sr-only">Color Name</span></a>
            <a href="#" style="background: #ebebeb;"><span class="sr-only">Color Name</span></a>
          </div>
        </div>
      </div>
    </div> {% endcomment %}

    {% comment %} <div class="widget widget-collapsible">
      <h3 class="widget-title"><a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">Price</a></h3><!-- End .widget-title -->

      <div class="collapse show" id="widget-5">
        <div class="widget-body">
          <div class="price-ranges">
            {% for range in price_ranges %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="price-range-{{ forloop.counter }}" name="price-range" value="{{ range.min }}-{% if range.max %}{{ range.max }}{% endif %}" />
                <label class="custom-control-label" for="price-range-{{ forloop.counter }}">
                  ₹ {{ range.min }} -{% if range.max %}
                    ₹ {{ range.max }}
                  {% else %}
                    ₹ 5000+
                  {% endif %}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div> {% endcomment %}
  </div>
</aside>
