<nav class="sidebar start-0 sidebar-offcanvas" id="sidebar">
  <ul class="nav position-fixed">
    <li class="nav-item {% if is_active_dashboard %}active{% endif %}">
      <a class="nav-link" href="{% url 'admin_login_page' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item {% if is_active_customer %}active{% endif %}">
      <a class="nav-link" href="{% url 'admin_customers' %}">
        <i class="bi bi-person-lines-fill"></i>
        <span class="menu-title px-3">Customers</span>
      </a>
    </li>

    <li class="nav-item {% if is_active_product %}active{% endif %}">
      <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="collapse" href="#products" aria-expanded="false" aria-controls="products">
        <div>
          <i class="bi bi-box-seam-fill"></i>
          <span class="menu-title px-3">Products</span>
        </div>
        <i class="bi bi-chevron-right"></i>
      </a>
      <div class="collapse" id="products">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_product_page' %}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_add_product' %}">Add Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_add_image_page' %}">Add product Image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_add_variants' %}">Add product variants</a>
          </li>
        </ul>
      </div>
    </li>


    <li class="nav-item {% if is_active_brand %}active{% endif %}">
      <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="collapse" href="#brand" aria-expanded="false" aria-controls="brand">
        <div>
          <i class="bi bi-building"></i>
          <span class="menu-title px-3">Brands</span>
        </div>
        <i class="bi bi-chevron-right"></i>
      </a>
      <div class="collapse" id="brand">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_brand_page' %}">List Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_add_brand' %}">Add Brands</a>
          </li>
        </ul>
      </div>
    </li>
    

    <li class="nav-item {% if is_active_category %}active{% endif %}">
      <a class="nav-link" href="{% url 'admin_categories' %}">
        <i class="bi bi-grid-fill"></i>
        <span class="menu-title px-3">Category</span>
      </a>
    </li>
    
    <li class="nav-item {% if is_active_order %}active{% endif %}">
      <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="collapse" href="#orders" aria-expanded="false" aria-controls="orders">
        <div>
          <i class="bi bi-receipt"></i>
          <span class="menu-title px-3">Orders</span>
        </div>
        <i class="bi bi-chevron-right"></i>
      </a>
      <div class="collapse" id="orders">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'orders_view_page' %}">List Orders</a>
          </li>
        </ul>
      </div>
    </li>
    

    <li class="nav-item {% if is_active_sales %}active{% endif %}">
      <a class="nav-link" href="{% url 'sales_report_page' %}">
        <i class="bi bi-grid-fill"></i>
        <span class="menu-title px-3">Sales Report</span>
      </a>
    </li>
    

    <li class="nav-item {% if is_active_product_offer %}active{% endif %}">
      <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="collapse" href="#offer_module" aria-expanded="false" aria-controls="offer_module">
        <div>
          <i class="bi bi-gift"></i>
          <span class="menu-title px-3">Offers</span>
        </div>
        <i class="bi bi-chevron-right"></i>
      </a>
      <div class="collapse" id="offer_module">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'product_offer_module_view' %}">Product Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'product_offer_add_page' %}">Add Product Offer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'category_offer_module_view' %}">Category Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'category_offers_add_page' %}">Add Category Offer</a>
          </li>
        </ul>
      </div>
    </li>
    
    

    <li class="nav-item {% if is_active_coupon %}active{% endif %}">
      <a class="nav-link d-flex justify-content-between align-items-center" data-toggle="collapse" href="#coupons" aria-expanded="false" aria-controls="coupons">
        <div>
          <i class="bi bi-cash"></i>
          <span class="menu-title px-3">Coupons</span>
        </div>
        <i class="bi bi-chevron-right"></i>
      </a>
      <div class="collapse" id="coupons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'coupon_page_view' %}">Coupons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_coupon_page' %}">Add Coupon</a>
          </li>
        </ul>
      </div>
    </li>
    

    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="bi bi-badge-ad-fill"></i>
        <span class="menu-title px-3">Banner</span>
      </a>
    </li>
  </ul>
</nav>
