<nav class="sidebar start-0 sidebar-offcanvas" id="sidebar">
  <ul class="nav position-fixed">
    <li class="nav-item {% if is_active_dashboard %}active{% endif %}">
      <a class="nav-link" href="{% url 'admin_login_page' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item {% if is_active_customer %}active{% endif %}">
      <a class="nav-link" href="{% url 'admin_customers' %}">
        <i class="bi bi-person-lines-fill"></i>
        <span class="menu-title px-3">Customers</span>
      </a>
    </li>
    <li class="nav-item {% if is_active_product %}active{% endif %}">
      <a class="nav-link" data-toggle="collapse" href="#products" aria-expanded="false" aria-controls="products">
        <i class="bi bi-box-seam-fill"></i>
        <span class="menu-title px-3">Products</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="products">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_product_page' %}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_add_product' %}">Add Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_add_image_page' %}">Add product Image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_add_variants' %}">Add product variants</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item {% if is_active_brand %}active{% endif %}">
      <a class="nav-link" data-toggle="collapse" href="#brand" aria-expanded="false" aria-controls="brand">
        <i class="bi bi-building"></i>
        <span class="menu-title px-3">Brands</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="brand">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_brand_page' %}">List Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_add_brand' %}">Add Brands</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item {% if is_active_category %}active{% endif %}">
      <a class="nav-link" href="{% url 'admin_categories' %}">
        <i class="bi bi-grid-fill"></i>
        <span class="menu-title px-3">Category</span>
      </a>
    </li>
    
    <li class="nav-item {% if is_active_order %}active{% endif %}">
      <a class="nav-link" data-toggle="collapse" href="#orders" aria-expanded="false" aria-controls="orders">
        <i class="bi bi-receipt"></i>
        <span class="menu-title px-3">Orders</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="orders">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'orders_view_page' %}">List Orders</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="bi bi-arrow-return-left"></i>
        <span class="menu-title px-3">Return Request</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="bi bi-cash"></i>
        <span class="menu-title px-3">Coupons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="bi bi-badge-ad-fill"></i>
        <span class="menu-title px-3">Banner</span>
      </a>
    </li>
  </ul>
</nav>
