<nav class="sidebar start-0 sidebar-offcanvas" id="sidebar">
  <ul class="nav position-fixed">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_login_page' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin_customers' %}">
        <i class="bi bi-person-lines-fill"></i>
        <span class="menu-title px-3">Customers</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="bi bi-box-seam-fill"></i>
        <span class="menu-title px-3">Products</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'list_product_page' %}">Products</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'list_brand_page' %}">Brands</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'admin_add_product' %}">Add Products</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'admin_add_brand' %}">Add Brand</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="bi bi-receipt"></i>
        <span class="menu-title px-3">Orders</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
        <i class="bi bi-grid-fill"></i>
        <span class="menu-title px-3">Categories</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'admin_categories' %}">List Categories</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_category_page' %}">Add Categories</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'deleted_cat_view' %}">Deleted Categories</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="bi bi-arrow-return-left"></i>
        <span class="menu-title px-3">Return Request</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="bi bi-cash"></i>
        <span class="menu-title px-3">Coupons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="bi bi-badge-ad-fill"></i>
        <span class="menu-title px-3">Banner</span>
      </a>
    </li>
  </ul>
</nav>



