{% extends 'admin_base.html' %}

{% load static %}

{% block custom_css %}
  <link rel="shortcut icon" href="{% static 'images/Sneakerheads.png' %}" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">Hello {{ user.username }} {{ user.last_name }}</h3>
        </div>
        <div class="col-12 col-xl-4">
          <div class="justify-content-end d-flex">
            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
               <span> {{ today }} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 grid-margin transparent">
      <div class="row">
        <div class="col-12 col-sm-3 mb-4 stretch-card transparent">
          <div class="card card-tale pb-2">
            <div class="card-body">
              <p class="mb-4">Today’s Orders</p>
              <p class="fs-30 mb-2"> {{ todays_order }} </p>
              <p> {{ todays_order_vs_order_in_five_days }}% (5 days)</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-3 mb-4 stretch-card transparent">
          <div class="card card-dark-blue">
            <div class="card-body">
              <p class="mb-4">Total Orders</p>
              <p class="fs-30 mb-2"> {{ total_orders }} </p>
              <p>{{ increase_of_order_in_five_days }}% (5 days)</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-3 mb-4 stretch-card transparent">
          <div class="card card-light-blue pb-0">
            <div class="card-body">
              <p class="mb-4">Total Number of Products</p>
              <p class="fs-30 mb-2"> {{ total_products }} </p>
              <p>{{ increase_of_products_in_five_days }}% (5 days)</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-3 mb-4 stretch-card transparent">
          <div class="card card-light-danger">
            <div class="card-body">
              <p class="mb-4">Number of Customers</p>
              <p class="fs-30 mb-2"> {{ total_customers }} </p>
              <p>{{ increase_of_customer_in_five_days }}% (5 days)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
