{% extends 'admin_base.html' %}

{% load static %}

{% block custom_css %}
  <link rel="shortcut icon" href="{% static 'images/Sneakerheads.png' %}" />
  <link rel="stylesheet" href="{% static 'admin_css/index.css' %}" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">Hello {{ user.username }} {{ user.last_name }}</h3>
        </div>
        <div class="col-12 col-xl-4">
          <div class="justify-content-end d-flex">
            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
              <span>{{ today }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 grid-margin transparent">
      <div class="row">
        <div class="col-12 col-sm-3 mb-4 stretch-card transparent">
          <div class="card card-tale pb-2 shadow">
            <div class="card-body">
              <p class="mb-4">Today’s Orders</p>
              <p class="fs-30 mb-2">{{ todays_order }}</p>
              <p>{{ todays_order_vs_order_in_five_days }}% (5 days)</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-3 mb-4 stretch-card transparent">
          <div class="card card-dark-blue shadow">
            <div class="card-body">
              <p class="mb-4">Total Orders</p>
              <p class="fs-30 mb-2">{{ total_orders }}</p>
              <p>{{ increase_of_order_in_five_days }}% (5 days)</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-3 mb-4 stretch-card transparent">
          <div class="card card-light-blue pb-0 shadow">
            <div class="card-body">
              <p class="mb-4">Total Number of Products</p>
              <p class="fs-30 mb-2">{{ total_products }}</p>
              <p>{{ increase_of_products_in_five_days }}% (5 days)</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-3 mb-4 stretch-card transparent">
          <div class="card card-light-danger shadow">
            <div class="card-body">
              <p class="mb-4">Number of Customers</p>
              <p class="fs-30 mb-2">{{ total_customers }}</p>
              <p>{{ increase_of_customer_in_five_days }}% (5 days)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="col-12 col-md-5 my-2">
      <div class="card shadow p-2">
        <form id="monthChartForm" action="{% url 'admin_dashboard' %}" method="get" class="d-flex justify-content-between py-2 m-2">
          <span>{{ year_month }}</span>
          <select class="form-select bg-white border-0" name="selected_month" id="monthSelect"></select>
          {% comment %} <input type="hidden" name="selected_year" value="{{ selected_year }}" /> {% endcomment %}
        </form>
        <div class="card-body">
          {% if month_check_data %}
            <canvas id="productSalesBarChart" width="400" height="300"></canvas>
          {% else %}
            <p>No data available for the selected month</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 my-2">
      <div class="card shadow p-2">
        <form id="yearChartForm" action="{% url 'admin_dashboard' %}" method="get" class="d-flex justify-content-between py-2 m-2">
          <span>{{ year }}</span>
          <select class="form-select bg-white border-0" name="selected_year" id="yearSelect"></select>
          {% comment %} <input type="hidden" name="selected_month_year" value="{{ selected_month_year }}" /> {% endcomment %}
        </form>
        <div class="card-body">
          {% if year_check_data %}
            <canvas id="yearlySalesBarChart" width="400" height="300"></canvas>
          {% else %}
            <p>No data available for the selected year</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  {% if top_selling_products %}
    <div class="row d-flex justify-content-around mt-5 pt-5 px-5">
      <div class="col-12 col-md-6 my-1">
        <div class="table-responsive">
          <table class="custom-table">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Top 10 Products</th>
                <th scope="col">Number of Sales</th>
              </tr>
            </thead>
            <tbody>
              {% for product in top_selling_products %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ product.products.name }}</td>
                  <td>{{ product.num_orders }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-6 align-content-between my-1">
        <div class="d-flex flex-column justify-content-between align-content-between">
          <div class="table-responsive mb-3">
            <table class="custom-table">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Top 5 Brands</th>
                  <th scope="col">Number of Sales</th>
                </tr>
              </thead>
              <tbody>
                {% for brand in top_selling_brands %}
                  {% if forloop.counter <= 5 %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ brand.products__brand__name }}</td>
                      <td>{{ brand.total_orders }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="table-responsive mt-2">
            <table class="custom-table">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Top 5 Categories</th>
                  <th scope="col">Number of Sales</th>
                </tr>
              </thead>
              <tbody>
                {% for types in top_selling_types %}
                  {% if forloop.counter <= 5 %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ types.products__type }}</td>
                      <td>{{ types.total_orders }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block custom_scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    var ctx = document.getElementById('productSalesBarChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: {{ month_labels | safe }},
          datasets: [{
              label: ' Sales',
              data: {{ month_data | safe }},
              backgroundColor: [
                  'rgba(255, 99, 132, 0.6)',
                  'rgba(54, 162, 235, 0.6)',
                  'rgba(255, 206, 86, 0.6)',
              ],
              hoverBackgroundColor: [
                  'rgba(255, 99, 132, 0.8)',
                  'rgba(54, 162, 235, 0.8)',
                  'rgba(255, 206, 86, 0.8)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
              ],
              
          }]
      },
      options: {
          responsive: true,
          plugins: {
              legend: {
                  display: false
              }
          },
          scales: {
              x: {
                  ticks: {
                      display: false
                  },
                  grid: {
                      display: false
                  }
              },
              y: {
                  beginAtZero: true
              }
          }
      }
    });
  </script>
  <script>
    function populateMonthYearSelect() {
        const selectMonth = document.getElementById('monthSelect');
        const currentYear = new Date().getFullYear();
        const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

        selectMonth.innerHTML = '';

        const placeholderOption = document.createElement('option');
        placeholderOption.text = "Select month";
        placeholderOption.disabled = true;
        placeholderOption.selected = true;
        selectMonth.appendChild(placeholderOption);

        for (let i = 0; i < 12; i++) {
            const option = document.createElement('option');
            option.text = `${months[i]} ${currentYear}`;
            selectMonth.appendChild(option);
        }
    }
    window.onload = populateMonthYearSelect;
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const monthChartForm = document.getElementById('monthChartForm')
      const selectMonth = document.getElementById('monthSelect');

      selectMonth.addEventListener('change', function(){
        const selectedMonth = selectMonth.value;
        if (selectedMonth !== ''){
          monthChartForm.submit();
        }
      })
      

    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const yearChartForm = document.getElementById('yearChartForm')
      const yearMonth = document.getElementById('yearSelect');

      yearMonth.addEventListener('change', function(){
        const selectedMonth = yearMonth.value;
        if (selectedMonth !== ''){
          yearChartForm.submit();
        }
      })
    });
  </script>

  <script>
    function populateYearSelect() {
        const selectYear = document.getElementById('yearSelect');
        const currentYear = new Date().getFullYear();

        selectYear.innerHTML = '';

        const placeholderOption = document.createElement('option');
        placeholderOption.text = "Select year";
        placeholderOption.disabled = true;
        placeholderOption.selected = true;
        selectYear.appendChild(placeholderOption);

        for (let i = 0; i < 10; i++) {
            const option = document.createElement('option');
            option.value = currentYear - i;
            option.text = currentYear - i;
            selectYear.appendChild(option);
        }
    }
    populateYearSelect();
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const yearlySalesData = JSON.parse("{{ yearly_sales_data|escapejs }}");
        const months = Object.keys(yearlySalesData);
        const sales = Object.values(yearlySalesData);

        var ctx = document.getElementById('yearlySalesBarChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [{
                    label: 'Yearly Sales',
                    data: sales,
                    backgroundColor: 'rgba(54, 162, 235, 0.6)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
  </script>
{% endblock %}
