{% extends 'main_base.html' %}

{% load static %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index_page' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'shop_page_view' %}">Shop</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block page_header %}
  <div class="page-header text-center" style="background-image: url('{% static 'user/assets/images/page-header-bg.jpg' %}')">
    <div class="container">
      <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
    </div>
  </div>
{% endblock %}

{% block page_content %}
  <div class="page-content">
    <div class="cart">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <table class="table table-cart table-mobile">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Size</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                {% for item in cart_items %}
                  <tr>
                    <td class="product-col">
                      <div class="product">
                        <figure class="product-media">
                          <a href="#"><img src="{{ item.product.product_color_image.main_image.url }}" alt="Product image" /></a>
                        </figure>

                        <h3 class="product-title two-lines"><a href="#">{{ item.product.product_color_image.products.name }}</a></h3>
                      </div>
                    </td>
                    <td class="total-col">{{ item.product.size }}</td>
                    <td class="price-col">₹{{ item.product.product_color_image.price }}</td>
                    <td class="quantity-col">
                      <div class="cart-product-quantity">
                        <input type="number" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" onchange="updateTotalPrice({{ item.product.id }})" required />
                      </div>
                    </td>
                    <td class="total-col" id="total-price-{{ item.product.id }}">₹</td>
                    <td class="remove-col">
                      <button class="btn-remove"><i class="icon-close"></i></button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <div class="cart-bottom">
              <div class="cart-discount">
                <form action="#">
                  <div class="input-group">
                    <input type="text" class="form-control" required placeholder="coupon code" />
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
                    </div>
                  </div>
                </form>
              </div>

              <a href="#" class="btn btn-outline-dark-2"><span>REMOVE ITEMS IN CART</span><i class="icon-refresh"></i></a>
            </div>
          </div>
          <aside class="col-lg-3">
            <div class="summary summary-cart">
              <h3 class="summary-title">Cart Total</h3>

              <table class="table table-summary">
                <tbody>
                  <tr class="summary-subtotal">
                    <td>Subtotal:</td>
                    <td>$160.00</td>
                  </tr>
                  <tr class="summary-shipping">
                    <td>Shipping:</td>
                    <td>&nbsp;</td>
                  </tr>

                  <tr class="summary-shipping-row">
                    <td>
                      <div class="custom-control custom-radio">
                        <label for="free-shipping">Free Shipping</label>
                      </div>
                    </td>
                    <td>$0.00</td>
                  </tr>
                  <tr class="summary-subtotal">
                    <td>TOTAL:</td>
                    <td>$160.00</td>
                  </tr>

                  <tr class="summary-shipping-estimate">
                    <td>
                      Estimate for Your Country<br /> <a href="">Change address</a>
                    </td>
                    <td>&nbsp;</td>
                  </tr>

                  <tr class="summary-total">
                    <td>Total:</td>
                    <td>$160.00</td>
                  </tr>
                </tbody>
              </table>

              <a href="checkout.html" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
            </div>

            <a href="category.html" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
          </aside>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function updateTotalPrice(productId) {
      var quantity = $('#quantity-' + productId).val()
      var csrfToken = '{{ csrf_token }}'
    
      $.ajax({
        type: 'POST',
        url: '/update_total_price/',
        data: {
          product_id: productId,
          quantity: quantity,
          csrfmiddlewaretoken: csrfToken
        },
        dataType: 'json',
        success: function (data) {
          $('#total-price-' + productId).text('₹' + data.total_price.toFixed(2))
        }
      })
    }
  </script>
{% endblock %}
