{% extends 'main_base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'user/css/checkout_styles.css' %}" />
{% endblock %}

{% block main_content %}
  {% block page_header %}
    <div class="page-header text-center" style="background-image: url('{% static 'user/assets/images/page-header-bg.jpg' %}')">
      <div class="container">
        <h1 class="page-title">Checkout<span>Shop</span></h1>
      </div>
    </div>
  {% endblock %}

  {% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index_page' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'shop_page_view' %}">Shop</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
      </div>
    </nav>
  {% endblock %}

  <div class="page-content">
    <div class="checkout">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <form action="{% url 'place_order' %}" method="post" id="checkout_form">
              {% csrf_token %}
              <div class="delivery-address-container">
                <h2 class="address-heading">Delivery Address</h2>
                <p class="address-select-info">Please select a delivery address:</p>
                <div class="address-list">
                  {% for addr in addresses %}
                    <div class="address-item">
                      <input type="radio" id="address-{{ addr.id }}" name="delivery_address" value="{{ addr.id }}" class="custom-radio-input" />
                      <label for="address-{{ addr.id }}" class="custom-radio-label">
                        <span class="address-name">{{ addr.name }} : {{ addr.phone_number }}</span><br />
                        <span class="address-details">
                          {{ addr.street_address }}, {{ addr.city }},
                          {{ addr.state }}, {{ addr.country }}, {{ addr.pin_code }}
                        </span>
                      </label>
                    </div>
                  {% endfor %}
                </div>
              </div>

              <div class="payment-method-selection">
                <h2 class="payment-method-heading">Payment Method</h2>
                <p class="payment-method-info">Please select a payment method:</p>
                <div class="payment-method-list">
                  <div class="payment-method-item">
                    <input type="radio" id="payment_method_cash" class="payment-method" name="payment_method" value="Cash On Delivery" />
                    <label for="payment_method_cash" class="payment-method-label w-50"><img class="w-25" src="{% static 'user/images/payment_logo/cash-on-delivery.png' %}" alt="Cash on Delivery" class="payment-method-image" /></label>
                  </div>
                  <div class="payment-method-item">
                    <input type="radio" id="payment_method_razorpay" class="payment-method" name="payment_method" value="Razorpay" />
                    <label for="payment_method_razorpay" class="payment-method-label w-50"><img class="w-25" src="{% static 'user/images/payment_logo/razorpay.png' %}" alt="Razorpay" class="payment-method-image" /></label>
                  </div>
                </div>
              </div>

              {% if cart.coupon_applied %}
                <div class="applied-coupon">
                  <p>Coupon Applied: {{ coupon.name }}{{ coupon.discount_percentage }}</p>
                </div>
                {% if total_charge_discounted %}
                  <div class="updated-prices">
                    <p>Total (After Discount): ₹ {{ total_charge_discounted }}.00</p>
                  </div>
                {% endif %}
              {% endif %}
              <input type="hidden" name="subtotal" value="{{ sub_charge }}" />
              <input type="hidden" name="shipping_charge" value="{{ shipping_charge }}" />

              {% if cart.coupon_applied %}
                <input type="hidden" name="total_charge_discounted" value="{{ total_charge_discounted }}" />
              {% else %}
                <input type="hidden" name="total_charge" value="{{ total_charge }}" />
              {% endif %}

              <button type="submit" class="btn btn-outline-primary-2 rounded-2 my-4 btn-order btn-block" id="place_order_button" style="display: none;">
                <span class="btn-text">Place Order</span>
                <span class="btn-hover-text">Proceed to Checkout</span>
              </button>

              <button type="submit" class="btn btn-outline-primary-2 rounded-2 my-4 btn-order btn-block" id="razorpay_button" style="display: none;">
                <span class="btn-text">Pay with Razorpay</span>
                <span class="btn-hover-text">Proceed to Payment</span>
              </button>
            </form>
            <div class="cart-discount">
              <form action="{% url 'apply_coupon' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                  <select class="form-control" id="coupon_code" name="coupon_code">
                    <option selected disabled value="">Select a coupon</option>
                    {% for coupon in available_coupons %}
                      <option value="{{ coupon.coupon_code }}">{{ coupon.name }}{{ coupon.discount_percentage }}</option>
                    {% endfor %}
                  </select>
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary-2 pe-5 ps-3" type="submit" id="apply_coupon_button"><i class="icon-long-arrow-right"></i> Apply</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <aside class="col-lg-3">
            <div class="summary">
              <h3 class="summary-title">Your Order</h3>

              <table class="table table-summary">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Total</th>
                  </tr>
                </thead>

                <tbody>
                  {% for item in cart_items %}
                    <tr>
                      <td>
                        <a href="#">{{ item.product.product_color_image.products.name }} × {{ item.quantity }}</a>
                      </td>
                      <td>₹{{ item.total_price }}.00</td>
                    </tr>
                  {% endfor %}

                  {% if cart.coupon_applied %}
                    <tr class="summary-subtotal">
                      <td>Discount:</td>
                      <td>₹ {{ discount_amount }} .00</td>
                    </tr>
                  {% endif %}

                  <tr class="summary-subtotal">
                    <td>Subtotal:</td>
                    <td>
                      ₹{% if cart.coupon_applied %}
                        {{ total_charge_discounted }}
                      {% else %}
                        {{ subtotal }}
                      {% endif %}.00
                    </td>
                  </tr>
                  <tr>
                    <td>Shipping:</td>
                    <td>
                      ₹{% if cart.coupon_applied %}
                        {{ charge_for_shipping }}
                      {% else %}
                        {{ shipping_charge }}
                      {% endif %}.00
                    </td>
                  </tr>
                  <tr class="summary-total">
                    <td>Total:</td>
                    <td>
                      ₹{% if cart.coupon_applied %}
                        {{ total_charge_discounted }}
                      {% else %}
                        {{ total_charge }}
                      {% endif %}.00
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_scripts %}
  <script src="{% static 'user/assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
  <script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'user/assets/js/main.js' %}"></script>
  <script>
    document.getElementById('checkout_form').addEventListener('change', function () {
      var deliveryAddressChecked = document.querySelector('input[name="delivery_address"]:checked')
      var paymentMethodChecked = document.querySelector('input[name="payment_method"]:checked')
    
      if (deliveryAddressChecked && paymentMethodChecked) {
        if (paymentMethodChecked.value === 'Razorpay') {
          document.getElementById('place_order_button').style.display = 'none'
          document.getElementById('razorpay_button').style.display = 'block'
        } else {
          document.getElementById('place_order_button').style.display = 'block'
          document.getElementById('razorpay_button').style.display = 'none'
        }
      } else {
        document.getElementById('place_order_button').style.display = 'none'
        document.getElementById('razorpay_button').style.display = 'none'
      }
    })
  </script>

  <script>
    document.getElementById('apply_coupon_button').addEventListener('click', function () {
      var couponCode = document.getElementById('coupon_code').value
    })
  </script>

  <script>
    document.getElementById('inner_form').addEventListener('submit', function (event) {
      event.stopPropagation()
    })
  </script>
{% endblock %}
