{% extends 'main_base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'user/css/user_details.css' %}" />
{% endblock %}

{% block bc2 %}
  <li class="breadcrumb-item">
    <a href="#">Shop</a>
  </li>
{% endblock %}

{% block bcactive %}
  <li class="breadcrumb-item active" aria-current="page">My Account</li>
{% endblock %}

{% block page_header %}
  <div class="page-header text-center" style="background-image: url('{% static 'user/assets/images/page-header-bg.jpg' %}')">
    <div class="container">
      {% block page_header_title %}
        <h1 class="page-title">My Account<span>Shop</span></h1>
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block page_content %}
  <div class="page-content">
    <div class="dashboard">
      <div class="container">
        <div class="row">
          <aside class="col-md-4 col-lg-3">
            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign Out</a>
              </li>
            </ul>
          </aside>
          <!-- End .col-lg-3 -->

          <div class="col-md-8 col-lg-9">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                {% include 'dashboard/user_details.html' %}
              </div>
              <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                <p>No order has been made yet.</p>
                <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
              </div>
              <!-- .End .tab-pane -->

              <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
                <p>No downloads available yet.</p>
                <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
              </div>
              <!-- .End .tab-pane -->

              <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                <p>The following addresses will be used on the checkout page by default.</p>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="card card-dashboard">
                      <div class="card-body">
                        <h3 class="card-title">Billing Address</h3><!-- End .card-title -->

                        <p>
                          User Name<br />
                          User Company<br />
                          John str<br />
                          New York, NY 10001<br />
                          1-234-987-6543<br />
                          yourmail@mail.com<br />
                          <a href="#">Edit <i class="icon-edit"></i></a>
                        </p>
                      </div>
                      <!-- End .card-body -->
                    </div>
                    <!-- End .card-dashboard -->
                  </div>
                  <!-- End .col-lg-6 -->

                  <div class="col-lg-6">
                    <div class="card card-dashboard">
                      <div class="card-body">
                        <h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

                        <p>
                          You have not set up this type of address yet.<br />
                          <a href="#">Edit <i class="icon-edit"></i></a>
                        </p>
                      </div>
                      <!-- End .card-body -->
                    </div>
                    <!-- End .card-dashboard -->
                  </div>
                  <!-- End .col-lg-6 -->
                </div>
                <!-- End .row -->
              </div>

              <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                <form action="#">
                  <div class="row">
                    <div class="col-sm-6">
                      <label>First Name *</label>
                      <input type="text" class="form-control" required />
                    </div>
                    <!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                      <label>Last Name *</label>
                      <input type="text" class="form-control" required />
                    </div>
                    <!-- End .col-sm-6 -->
                  </div>
                  <!-- End .row -->

                  <label>Display Name *</label>
                  <input type="text" class="form-control" required />
                  <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

                  <label>Email address *</label>
                  <input type="email" class="form-control" required />

                  <label>Current password (leave blank to leave unchanged)</label>
                  <input type="password" class="form-control" />

                  <label>New password (leave blank to leave unchanged)</label>
                  <input type="password" class="form-control" />

                  <label>Confirm new password</label>
                  <input type="password" class="form-control mb-2" />

                  <button type="submit" class="btn btn-outline-primary-2">
                    <span>SAVE CHANGES</span>
                    <i class="icon-long-arrow-right"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_scripts %}
  <script>
    function toggleEdit() {
      var editAction = document.querySelector('.edit-action')
      var saveButton = document.querySelector('.save-button')
      var inputElements = document.querySelectorAll('.edit-input')
      var valueElements = document.querySelectorAll('.profile-info-item span:not(.edit-action)')
    
      if (inputElements[0].style.display === 'none') {
        // Entering edit mode
        editAction.textContent = 'Cancel'
        saveButton.style.display = 'inline-block'
        inputElements.forEach((input) => (input.style.display = 'inline-block'))
        valueElements.forEach((value) => (value.style.display = 'none'))
      } else {
        // Canceling edit mode
        editAction.textContent = 'Edit'
        saveButton.style.display = 'none'
        inputElements.forEach((input) => (input.style.display = 'none'))
        valueElements.forEach((value) => (value.style.display = 'inline-block'))
      }
    }
  </script>
{% endblock %}
