{% extends 'main_base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'user/css/user_details.css' %}" />
  <link rel="stylesheet" href="{% static 'user/css/edit_address.css' %}" />
{% endblock %}

{% block bcactive %}
  <li class="breadcrumb-item active" aria-current="page">My Account</li>
{% endblock %}

{% block page_header %}
  <div class="page-header text-center" style="background-image: url('{% static 'user/assets/images/page-header-bg.jpg' %}')">
    <div class="container">
      {% block page_header_title %}
        <h1 class="page-title">My Account</h1>
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block page_content %}
  <div class="page-content">
    <div class="dashboard">
      <div class="container">
        <div class="row">
          {% comment %}SIDEBAR{% endcomment %}
          <aside class="col-md-4 col-lg-3">
            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Manage Adresses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Change Password</a>
              </li>
              <li class="nav-item">
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button class="border-0 bg-white text-dark fw-light my-2" type="submit"> <i class="bi bi-box-arrow-left me-2"></i>Logout</button>
                </form>
              </li>
            </ul>
          </aside>

          <div class="col-md-8 col-lg-9">
            <div class="tab-content">
              {% comment %}DASHBOARD{% endcomment %}
              <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                {% include 'dashboard/user_details.html' %}
              </div>

              {% comment %}ORDER DETAILS{% endcomment %}
              <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                <p>No order has been made yet.</p>
                <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
              </div>

              {% comment %} {% endcomment %}
              <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
                <p>No downloads available yet.</p>
                <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
              </div>

              {% comment %}MANAGE ADDRESS{% endcomment %}
              <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                <p>The following addresses will be used on the checkout page by default.</p>
                {% include 'dashboard/address/manage_addresses.html' %}
              </div>

              {% comment %}PASSWORD CHANGE{% endcomment %}
              <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                <form action="{% url 'user_change_password' user.id %}" method="post">
                  {% csrf_token %}
                  <label>Current password *</label>
                  <input type="password" name="current_password" class="form-control" />

                  <label>New password *</label>
                  <input type="password" name="new_password" class="form-control" />

                  <label>Confirm new password *</label>
                  <input type="password" name="confirm_password" class="form-control mb-2" />

                  <button type="submit" class="btn btn-outline-primary-2">
                    <span>SAVE CHANGES</span>
                    <i class="icon-long-arrow-right"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_scripts %}
  <script src="{% static 'user/js/dashboard.js' %}"></script>
{% endblock %}
