{% extends 'main_base.html' %}

{% load static %}
{% block main_content %}
  {% block breadcrumbs %}

  {% endblock %}
  {% comment %}Slider Carousel{% endcomment %}
  {% include 'partials/slider.html' %}

  {% comment %}Banner{% endcomment %}
  {% include 'partials/banner.html' %}

  <div class="icon-boxes-container icon-boxes-separator bg-transparent">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-primary"><i class="icon-rocket"></i></span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Free Shipping</h3>
              <p>Orders ₹ 2, 999 or more</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-primary"><i class="icon-rotate-left"></i></span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Free Returns</h3>
              <p>Within 10 days</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-primary"><i class="icon-info-circle"></i></span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Get 20% Off 1 Item</h3>
              <p>when you sign up</p>
            </div>d
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-primary"><i class="icon-life-ring"></i></span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">We Support</h3>
              <p>24/7 amazing services</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/new-arrivals.html' %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4">
        <div class="banner banner-cat">
          <a href="#"><img src="{% static 'user/assets/images/demos/demo-10/banners/banner-5.jpg' %}" alt="Banner" /></a>

          <div class="banner-content banner-content-overlay text-center">
            <h3 class="banner-title font-weight-normal">Women's</h3>
            <h4 class="banner-subtitle">125 Products</h4>
            <a href="category.html" class="banner-link">SHOP NOW</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="banner banner-cat">
          <a href="#"><img src="{% static 'user/assets/images/demos/demo-10/banners/banner-6.jpg' %}" alt="Banner" /></a>

          <div class="banner-content banner-content-overlay text-center">
            <h3 class="banner-title font-weight-normal">Men's</h3>
            <h4 class="banner-subtitle">97 Products</h4>
            <a href="category.html" class="banner-link">SHOP NOW</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="banner banner-cat">
          <a href="#"><img src="{% static 'user/assets/images/demos/demo-10/banners/banner-7.jpg' %}" alt="Banner" /></a>

          <div class="banner-content banner-content-overlay text-center">
            <h3 class="banner-title font-weight-normal">Kid's</h3>
            <h4 class="banner-subtitle">48 Products</h4>
            <a href="category.html" class="banner-link">SHOP NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4"></div>

  {% include 'partials/top-selling.html' %}

  <div class="mb-3"></div>

  {% include 'partials/blog.html' %}
{% endblock %}






