{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SneakerHeads</title>
  <meta name="keywords" content="Shoes">
  <meta name="description" content="Shoe selling website">
  <meta name="author" content="SneakerHeads">
  <link rel="icon" href="{% static 'user/images/sneakerheads_logo/sh_round_red.png' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  {% block custom_css %}
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/demos/demo-10.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
  {% endblock %}

  {% block extra_css %}
    <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
  {% endblock %}

  {% block extra1_css %}

  {% endblock %}
  <style>
    .cart-dropdown .dropdown-menu {
      width: 300px;
      left: auto;
    }

    .cart-dropdown .card-body {
      max-width: 100%;
    }
    
    .cart-dropdown .card {
      border: none;
      border-radius: 10px;
    }

    .cart-dropdown .dropdown-cart-products {
      max-height: 200px;
      overflow-y: auto;
    }

    .cart-dropdown .dropdown-toggle {
      display: flex;
      align-items: center;
    }

    .cart-dropdown .dropdown-toggle .icon-shopping-cart {
      margin-right: 5px;
    }
    
    .cart-dropdown .product {
      display: flex;
      margin-bottom: 15px;
    }

    
    .cart-dropdown .product .product-cart-details {
      flex-grow: 1;
    }
    
    .cart-dropdown .product .product-image-container {
      margin-right: 10px;
    }
    
    .cart-dropdown .product .product-image {
      max-width: 60px;
      max-height: 60px;
    }
    
    .cart-dropdown .dropdown-cart-total {
      margin-top: 10px;
    }
    
    .cart-dropdown .dropdown-cart-action .btn {
      border-radius: 0;
    }    
  </style>
</head>
<body>
  {% block page_wrapper %}
    <div class="page-wrapper">
      {% block navbar %}
        <header class="header header-8">
          <div class="header-top">
            <div class="container">
              <div class="header-right">
                <ul class="top-menu">
                  <li>
                    <a href="#">Links</a>
                    <ul>
                      <li>
                        <a href="{% url 'wishlist_view' %}">
                          <i class="icon-heart-o"></i>My Wishlist{% if wishlist_item_count %}
                            <span>( {{ wishlist_item_count }} )</span>
                          {% endif %}
                        </a>
                      </li>
                      <li>
                        <a href="">About Us</a>
                      </li>
                      <li>
                        <a href="">Contact Us</a>
                      </li>
                      <li>
                        {% if user.is_authenticated %}
                          <div class="header-dropdown">
                            {% if user.customer %}
                              <a href=""><i class="icon-user"></i> {{ user.customer.user.first_name }}</a>
                            {% else %}
                              <a href=""><i class="icon-user"></i> {{ user.username }}</a>
                            {% endif %}
                            <div class="header-menu">
                              <ul>
                                <li>
                                  <a class="text-dark fw-medium" href="{% url 'user_dashboard' user.id %}">Account</a>
                                </li>
                                <li>
                                  <a class="text-dark fw-medium" href="{% url 'wallet_page_view' user.id %}">Wallet</a>
                                </li>
                                <li>
                                  <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button class="border-0 bg-white text-dark fw-medium" type="submit">LOGOUT</button>
                                  </form>
                                </li>
                              </ul>
                            </div>
                          </div>
                        {% else %}
                          <a href="{% url 'sign_in_page' %}"><i class="icon-user"></i>Login</a>
                        {% endif %}
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="header-middle sticky-header">
            <div class="container">
              <div class="header-left">
                <button class="mobile-menu-toggler"><i class="icon-bars"></i></button>
              </div>

              <div class="header-right">
                <nav class="main-nav">
                  <ul class="menu sf-arrows">
                    {% block nav_home_active %}
                      <li class="megamenu-container">
                        <a href="{% url 'index_page' %}">Home</a>
                      </li>
                    {% endblock %}
                    {% block nav_shop_active %}
                      <li>
                        <a href="{% url 'shop_page_view' %}">Shop</a>
                      </li>
                    {% endblock %}
                    {% block nav_women_active %}
                      <li>
                        <a href="">Women</a>
                      </li>
                    {% endblock %}
                    {% block nav_men_active %}
                      <li>
                        <a href="#">Men</a>
                      </li>
                    {% endblock %}
                    {% block nav_kids_active %}
                      <li>
                        <a href="">Kids</a>
                      </li>
                    {% endblock %}

                    <li>
                      <a href="" class="sf-with-ul">Categories</a>
                    </li>
                  </ul>
                </nav>

                <div class="header-search">
                  <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                  <form action="{% url 'shop_page_view' %}" method="get">
                    {% csrf_token %}
                    <div class="header-search-wrapper">
                      <input type="search" class="form-control" name="search_query" id="q" placeholder="Search in..." required />
                    </div>
                  </form>
                </div>
                
                {% if user.is_authenticated %}
                  <div class="dropdown cart-dropdown">
                    <button class="btn dropdown-toggle" type="button" id="cartDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-shopping-cart p-0"></i>
                      {% if item_count > 0 %}
                        <span class="cart-count">{{ item_count }}</span>
                      {% endif %}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="cartDropdown">
                      <div class="card bg-white rounded rounded-3 shadow align-items-center justify-content-center text-center py-3">
                        <div class="card-body px-0">
                          {% if cart_items %}
                            <div class="dropdown-cart-products">
                              {% for items in cart_items %}
                                <div class="product">
                                  <div class="product-cart-details">
                                    <h4 class="product-title"><a href="{% url 'cart_view_page' user.id %}">{{ items.product.product_color_image.products.name }} x {{ items.quantity }}</a></h4>
                                    <span class="cart-product-info">₹{{ items.total_price }}</span>
                                  </div>
                                  <figure class="product-image-container">
                                    <a href="{% url 'cart_view_page' user.id %}" class="product-image"><img src="{{ items.product.product_color_image.main_image.url }}" alt="product" /></a>
                                  </figure>
                                  <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                </div>
                              {% endfor %}
                            </div>
                            <div class="dropdown-cart-total">
                              <span>Total</span>
                              <span class="cart-total-price">₹ {{ total_charge }}.00</span>
                            </div>
                            <div class="dropdown-cart-action">
                              <a href="{% url 'cart_view_page' user.id %}" class="btn btn-primary btn-block">View Cart</a>
                              <a href="{% url 'checkout_page' %}" class="btn btn-outline-primary btn-block"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                            </div>
                          {% else %}
                            <div class="dropdown-cart-empty">
                              <p>Your cart is empty</p>
                              <a href="{% url 'shop_page_view' %}" class="btn btn-primary btn-block">Start Shopping</a>
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>                                
                {% else %}
                  <a href="{% url 'sign_in_page' %}" class="mt-1 mx-2"><i class="icon-shopping-cart" style="font-size: 32px;"></i></a>
                {% endif %}
              </div>
            </div>
          </div>
        </header>
      {% endblock %}

      {% block main_content %}
        <main class="main">
          {% block page_header %}

          {% endblock %}

          {% block breadcrumbs %}
            <!-- Breadcrumbs section -->
          {% endblock %}

          {% block page_content %}
            <!-- Page content -->
          {% endblock %}
        </main>
      {% endblock %}

      {% include 'partials/footer.html' %}
    </div>
  {% endblock %}

  <!-- Mobile content -->
  {% block mobile_content %}
    {% include 'partials/mobile_content.html' %}
  {% endblock %}

  <!-- Scripts -->
  {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'));
        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
          return new bootstrap.Dropdown(dropdownToggleEl);
        });

        var cartDropdown = new bootstrap.Dropdown(document.getElementById('cartDropdown'));
      });
    </script>
    <script src="{% static 'user/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/assets/js/jquery.magnific-popup.min.js' %}"></script>
  {% endblock %}

  <!-- Main JavaScript -->
  {% block main_js %}
    <script src="{% static 'user/assets/js/main.js' %}"></script>
  {% endblock %}

  <!-- Custom JavaScript -->
  {% block custom_js %}

  {% endblock %}

  <!-- Custom scripts -->
  {% block custom_scripts %}

  {% endblock %}
</body>
</html>
