{% load static %}
<header class="header header-8">
  <div class="header-top">
    <div class="container">
      <div class="header-left">
        <div class="header-dropdown">
          <a href="#">Eng</a>
          <div class="header-menu">
            <ul>
              <li>
                <a href="#">English</a>
              </li>
              <li>
                <a href="#">French</a>
              </li>
              <li>
                <a href="#">Spanish</a>
              </li>
            </ul>
          </div>
          <!-- End .header-menu -->
        </div>
        <!-- End .header-dropdown -->
      </div>
      <!-- End .header-left -->

      <div class="header-right">
        <ul class="top-menu">
          <li>
            <a href="#">Links</a>
            <ul>
              <li>
                <a href="wishlist.html"><i class="icon-heart-o"></i>My Wishlist <span>(3)</span></a>
              </li>
              <li>
                <a href="about.html">About Us</a>
              </li>
              <li>
                <a href="contact.html">Contact Us</a>
              </li>
              <li>
                <a href="{% url 'sign_in' %}"><i class="icon-user"></i>Login</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- End .top-menu -->
      </div>
      <!-- End .header-right -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-top -->

  <div class="header-middle sticky-header">
    <div class="container">
      <div class="header-left">
        <button class="mobile-menu-toggler">
          <span class="sr-only">Toggle mobile menu</span>
          <i class="icon-bars"></i>
        </button>

        <a href="index.html" class="logo"><img src="{% static 'user/assets/images/demos/demo-10/logo.png' %}" alt="Molla Logo" width="105" height="25" /></a>
      </div>
      <!-- End .header-left -->

      <div class="header-right">
        <nav class="main-nav">
          <ul class="menu sf-arrows">
            <li class="megamenu-container active">
              <a href="index.html" class="sf-with-ul">Home</a>
            </li>
            <li>
              <a href="category.html" class="sf-with-ul">New</a>
            </li>
            <li>
              <a href="product.html" class="sf-with-ul">Women</a>
            </li>
            <li>
              <a href="#" class="sf-with-ul">Men</a>
            </li>
            <li>
              <a href="blog.html" class="sf-with-ul">Kids</a>
            </li>
            <li>
              <a href="elements-list.html" class="sf-with-ul">Elements</a>
            </li>
          </ul>
          <!-- End .menu -->
        </nav>
        <!-- End .main-nav -->

        <div class="header-search">
          <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
          <form action="#" method="get">
            <div class="header-search-wrapper">
              <label for="q" class="sr-only">Search</label>
              <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required />
            </div>
            <!-- End .header-search-wrapper -->
          </form>
        </div>
        <!-- End .header-search -->

        <div class="dropdown cart-dropdown">
          <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
            <i class="icon-shopping-cart"></i>
            <span class="cart-count">2</span>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-cart-products">
              <div class="product">
                <div class="product-cart-details">
                  <h4 class="product-title"><a href="product.html">Beige knitted elastic runner shoes</a></h4>

                  <span class="cart-product-info">
                    <span class="cart-product-qty">1</span>
                    x $84.00
                  </span>
                </div>
                <!-- End .product-cart-details -->

                <figure class="product-image-container">
                  <a href="product.html" class="product-image"><img src="{% static 'user/assets/images/products/cart/product-1.jpg' %}" alt="product" /></a>
                </figure>
                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
              </div>
              <!-- End .product -->

              <div class="product">
                <div class="product-cart-details">
                  <h4 class="product-title"><a href="product.html">Blue utility pinafore denim dress</a></h4>

                  <span class="cart-product-info">
                    <span class="cart-product-qty">1</span>
                    x $76.00
                  </span>
                </div>
                <!-- End .product-cart-details -->

                <figure class="product-image-container">
                  <a href="product.html" class="product-image"><img src="{% static 'user/assets/images/products/cart/product-2.jpg' %}" alt="product" /></a>
                </figure>
                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
              </div>
              <!-- End .product -->
            </div>
            <!-- End .cart-product -->

            <div class="dropdown-cart-total">
              <span>Total</span>

              <span class="cart-total-price">$160.00</span>
            </div>
            <!-- End .dropdown-cart-total -->

            <div class="dropdown-cart-action">
              <a href="cart.html" class="btn btn-primary">View Cart</a>
              <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
            </div>
            <!-- End .dropdown-cart-total -->
          </div>
          <!-- End .dropdown-menu -->
        </div>
        <!-- End .cart-dropdown -->
      </div>
      <!-- End .header-right -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-middle -->
</header>
<!-- End .header -->
