{% extends 'main_base.html' %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'user/css/order_placed_styles.css' %}" />
{% endblock %}
{% block navbar %}
{% endblock %}
{% block page_content %}
  <div class="order-placed-container">
    <div class="order-placed-header">
      <h1>Your Order Has Been Successfully Placed!</h1>
      <p>Thank you for shopping with us.</p>
    </div>
    <div class="order-details">
      <h2>Order Details</h2>
      <table class="order-summary-table">
        <tr>
          <th>Order ID:</th>
          <td>{{ order.order_id }}</td>
        </tr>
        <tr>
          <th>Payment Status:</th>
          <td>
            {% if order.payment.method_name == 'Razorpay' %}
              {% if order.paid == True %}
                Paid
              {% endif %}
            {% else %}
              Cash On Delivery
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Total Items:</th>
          <td>{{ order.number_of_orders }}</td>
        </tr>
        <tr>
          <th>Subtotal:</th>
          <td>₹{{ order.subtotal }}</td>
        </tr>
        <tr>
          <th>Shipping Charge:</th>
          <td>₹{{ order.shipping_charge }}</td>
        </tr>
        <tr>
          <th>Total Charge:</th>
          <td>₹{{ order.total_charge }}</td>
        </tr>
      </table>
    </div>
    <div class="continue-shopping">
      <a href="{% url 'shop_page_view' %}" class="btn btn-primary">Continue Shopping</a>
    </div>
  </div>
{% endblock %}
