{% extends 'main_base.html' %}
{% load static %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index_page' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'shop_page_view' %}">Shop</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ product_color.products.name }}</li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block page_content %}
  <div class="page-content">
    <div class="container">
      <div class="product-details-top">
        <div class="row">
          <div class="col-md-6">
            <div class="product-gallery product-gallery-vertical">
              <div class="row">
                <figure class="product-main-image">
                  <img id="product-zoom" src="{{ product_color.main_image.url }}" data-zoom-image="{{ product_color.main_image.url }}" alt="product image" />
                  <a href="#" id="btn-product-gallery" class="btn-product-gallery"><i class="icon-arrows"></i></a>
                </figure>
                <div id="product-zoom-gallery" class="product-image-gallery">
                  <a class="product-gallery-item" href="#" data-image="{{ product_color.main_image.url }}" data-zoom-image="{{ product_color.main_image.url }}"><img src="{{ product_color.main_image.url }}" alt="{{ product_color_image.color }}" /></a>
                  <a class="product-gallery-item" href="#" data-image="{{ product_color.side_image.url }}" data-zoom-image="{{ product_color.side_image.url }}"><img src="{{ product_color.side_image.url }}" alt="{{ product_color_image.color }}" /></a>
                  <a class="product-gallery-item" href="#" data-image="{{ product_color.top_image.url }}" data-zoom-image="{{ product_color.top_image.url }}"><img src="{{ product_color.top_image.url }}" alt="{{ product_color_image.color }}" /></a>
                  <a class="product-gallery-item" href="#" data-image="{{ product_color.back_image.url }}" data-zoom-image="{{ product_color.back_image.url }}"><img src="{{ product_color.back_image.url }}" alt="{{ product_color_image.color }}" /></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-details">
              <h1 class="product-title">{{ product_color.products.name }}</h1>
              <div class="ratings-container">
                <div class="ratings">
                  <div class="ratings-val" style="width: 80%;"></div>
                </div>
                <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
              </div>
              <div class="product-price">₹ {{ product_color.price }}.00</div>
              <div class="product-content">
                <p>{{ product_color.products.description }}</p>
              </div>
              <div class="product-content">
                <p>Color : {{ product_color.color }}</p>
              </div>
              <form action="{% url 'add_to_cart' product_color.id %}" method="post">
                {% csrf_token %}
                <div class="details-filter-row details-row-size">
                  <label {% if not product_color.in_stock %} class="disabled" {% endif %} for="size">Size:</label>
                  <div class="select-custom {% if not product_color.is_listed %}disabled{% endif %}">
                      <select name="size" id="size" class="form-control" {% if not product_color.in_stock %}disabled{% endif %} required>
                          <option value="" disabled selected>Select a size</option>
                          {% for product_size in product_sizes %}
                              <option value="{{ product_size.id }}">{{ product_size.size }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <a href="#" class="size-guide"><i class="icon-th-list"></i>size guide</a>
                </div>      

                <div class="product-details-action">
                  {% if not cart_items.product_color_image == product_color %}
                    {% if product_color.in_stock %}
                      {% if not in_cart %}
                        <button type="submit" class="btn-product btn-cart"><span>Add to cart</span></button>
                      {% else %}
                        <button type="button" class="btn-product btn-add" style="margin-top: 40px;" onclick="goToCart({{ user.id }})"><span>Go to cart</span></button>
                      {% endif %}
                    {% else %}
                      <button type="button" class="btn-product btn-add" style="margin-top: 40px;"><span>Out of stock</span></button>
                    {% endif %}
                  {% endif %}
                  <div class="details-action-wrapper">
                    <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                  </div>
                </div>
              </form>

              {% if product_color.is_listed %}
                <div class="product-details-action">
                  <a href="#" class="btn-product btn-add"><span>Buy now</span></a>
                </div>
              {% endif %}
              <div class="product-details-footer">
                <div class="product-cat">
                  <span>Category:</span>
                  <a href="#">{{ product_color.products.category.name }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-details-tab">
        <ul class="nav nav-pills justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
            <div class="product-desc-content">{{ product_color.products.information }}</div>
          </div>
          <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
            <div class="product-desc-content">
              <h3>Manufacturer</h3>
              <p>{{ product_color.products.brand.manufacturer_details }}</p>
              <h3 class="mt-3">Brand</h3>
              <p>{{ product_color.products.brand.name }}</p>
              <h3 class="mt-3">Country of Origin</h3>
              <p>{{ product_color.products.brand.country_of_origin }}</p>
            </div>
          </div>
          <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
            <div class="product-desc-content">
              <h3>Delivery & returns</h3>
              <p>
                We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br />
                We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a>
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
            {% include 'shop_page/reviews_product.html' %}
          </div>
        </div>
      </div>

      {% include 'shop_page/you_may_also_like.html' %}
    </div>
  </div>

  {% comment %} <div class="sticky-bar">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <figure class="product-media">
            <a href="{% url 'product_single_view_page' product_color.products.name product_color.id %}"><img src="{{ product_color.main_image.url }}" alt="Product image" /></a>
          </figure>
          <h4 class="product-title"><a href="product.html">{{ product_color.products.name }}</a></h4>
        </div>

        <div class="col-6 justify-content-end">
          <div class="product-price">₹ {{ product_color.price }}.00</div>
          <div class="product-details-quantity">
            <input type="number" id="sticky-cart-qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required />
          </div>

          <div class="product-details-action">
            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
{% endblock %}

{% block custom_scripts %}
  <script src="{% static 'user/assets/js/jquery.elevateZoom.min.js' %}"></script>
  <script src="{% static 'user/assets/js/jquery.magnific-popup.min.js' %}"></script>
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Select the color selector
      var colorSelector = document.querySelector('.product-nav-thumbs')
      // Select the main product image
      var mainImage = document.getElementById('product-zoom')
      // Select all items in the product image gallery
      var galleryItems = document.querySelectorAll('.product-gallery-item')
    
      // Add event listener to the color selector
      colorSelector.addEventListener('click', function (event) {
        // Prevent default link behavior
        event.preventDefault()
    
        // Check if clicked element is a color selector
        if (event.target.tagName === 'IMG') {
          // Update main product image src
          mainImage.src = event.target.src
    
          // Update product image gallery src
          galleryItems.forEach(function (item) {
            item.querySelector('img').src = event.target.src
          })
        }
      })
    })

    function goToCart() {
      window.location.href = "{% url 'cart_view_page' user.id %}";
    }
  </script>
{% endblock %}
