{% extends 'main_base.html' %}

{% load static %}

{% block custom_styles %}
  <link rel="stylesheet" href="{% static 'user/css/razorpay_styles.css' %}" />
{% endblock %}

{% block main_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="order-details-container">
          <h2>Order Details</h2>
          <div class="order-details">
            <p>
              <strong>Total Amount:</strong> ₹ {{ total_charge }}.00
            </p>
            <p>
              <strong>Delivery Address:</strong>
            </p>
            <p>{{ address.street_address }}</p>
            <p>{{ address.city }}, {{ address.state }}, {{ address.country }}, {{ address.pin_code }}</p>
          </div>
        </div>
      </div>
      <aside class="col-lg-3">
        <div class="summary">
          <h3 class="summary-title">Your Order</h3>

          <table class="table table-summary">
            <thead>
              <tr>
                <th>Product</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr class="summary-subtotal">
                <td>Subtotal:</td>
                <td>₹ {{ subtotal }}.00</td>
              </tr>
              <tr>
                <td>Shipping:</td>
                <td>₹ {{ shipping_charge }}.00</td>
              </tr>
              <tr class="summary-total">
                <td>Total:</td>
                <td>₹ {{ total_charge }}.00</td>
              </tr>
              <tr>
                <button id="pay-btn" class="btn btn-primary">Pay Now</button>
              </tr>
            </tbody>
          </table>
        </div>
      </aside>
    </div>
  </div>
{% endblock %}

{% block custom_scripts %}
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    var options = {
      key: '{{ settings.RAZORPAY_KEY_ID }}',
      amount: '{{ total }}',
      currency: '{{ currency }}',
      name: 'Razorpay',
      order_id: '{{ razorpay_order_id }}',
      callback_url: '{{ callback_url }}',
      prefill: {
        name: '{{ user.first_name }} {{ user.last_name }}',
        email: '{{ user.email }}',
        contact: '{{ customer.phone_number }}'
      },
      theme: {
        color: '#1F618D'
      }
    }
    
    var rzp1 = new Razorpay(options)
    
    document.getElementById('pay-btn').onclick = function (e) {
      rzp1.open()
      e.preventDefault()
    }
    
    options.handler = function (response) {
      console.log(response)
      var customerName = response.user.name
      var customerEmail = response.user.email
      var customerContact = response.user.contact
    
      alert('Payment Successful!\nCustomer Name: ' + customerName + '\nCustomer Email: ' + customerEmail + '\nCustomer Contact: ' + customerContact)
    }
  </script>
{% endblock %}
