{% extends 'main_base.html' %}

{% load static %}
{% block title %}
  <title>SneakerHeads Shop Page</title>
{% endblock %}
{% block custom_css %}
  <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'user/assets/css/plugins/owl-carousel/owl.carousel.css' %}" />
  <link rel="stylesheet" href="{% static 'user/assets/css/plugins/magnific-popup/magnific-popup.css' %}" />
  <link rel="stylesheet" href="{% static 'user/assets/css/plugins/nouislider/nouislider.css' %}" />
{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block page_content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="toolbox">
          <div class="toolbox-left">
            <div class="toolbox-info">
              Showing <span>9 of 56</span> Products
            </div>
          </div> 

          <div class="toolbox-right">
            <div class="toolbox-sort">
              <label for="sortby">Sort by:</label>
              <div class="select-custom">
                <select name="sortby" id="sortby" class="form-control">
                  <option value="popularity" selected="selected">Most Popular</option>
                  <option value="rating">Most Rated</option>
                  <option value="date">Date</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        {% include 'shop_products.html' %}

        {% include 'shop_page/shop_page_navigation.html' %}
      </div>
      {% include 'shop_page/left_filter_bar.html' %}
    </div>
  </div>
{% endblock %}

{% block custom_js %}
  <script src="{% static 'user/assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
  <script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'user/assets/js/superfish.min.js' %}"></script>
  <script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'user/assets/js/wNumb.js' %}"></script>
  <script src="{% static 'user/assets/js/bootstrap-input-spinner.js' %}"></script>
  <script src="{% static 'user/assets/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'user/assets/js/nouislider.min.js' %}"></script>
{% endblock %}
