{% load static %}
<div class="products mb-3">
  <div class="row justify-content-center">
    {% for product in product_list %}
      <div class="col-6 col-md-4 col-lg-4 col-xl-3">
        <div class="product product-7 text-center">
          <figure class="product-media">
            {% if not product.is_listed %}
              <span class="product-label bg-danger text-white">Out Of Stock</span>
            {% elif latest_products %}
              <span class="product-label label-new">New</span>
            {% endif %}

            <a href="{% url 'product_single_view_page' product.name product.id %}"><img src="{{ product.main_image.url }}" alt="Product image" class="product-image" /></a>

            <div class="product-action-vertical">
              <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
            </div>
            <!-- End .product-action-vertical -->

            <div class="product-action">
              {% if not product.is_listed %}
                <a href="#" class="btn-product"><span>Notify Me</span></a>
              {% else %}
                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
              {% endif %}
            </div>
            <!-- End .product-action -->
          </figure>
          <!-- End .product-media -->

          <div class="product-body">
            <div class="product-cat">
              <a href="#">{{ product.category.name }}</a>
            </div>
            <!-- End .product-cat -->
            <h3 class="product-title"><a href="{% url 'product_single_view_page' product.name product.id %}">{{ product.name }}</a></h3>
            <div class="product-price">₹ {{ product.price }}.00</div>
            <!-- End .product-price -->
            <div class="ratings-container">
              <div class="ratings">
                <div class="ratings-val" style="width: 20%;"></div>
                <!-- End .ratings-val -->
              </div>
              <!-- End .ratings -->
              <span class="ratings-text">( 2 Reviews )</span>
            </div>
            <!-- End .rating-container -->

            {% comment %} <div class="product-nav product-nav-thumbs">
              <a href="#" class="active"><img src="{% static 'user/assets/images/products/product-4-thumb.jpg' %}" alt="product desc" /></a>
              <a href="#"><img src="{% static 'user/assets/images/products/product-4-2-thumb.jpg' %}" alt="product desc" /></a>

              <a href="#"><img src="{% static 'user/assets/images/products/product-4-3-thumb.jpg' %}" alt="product desc" /></a>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
