{% load static %}
<div class="products mb-3">
  <div class="row justify-content-center">
    {% for product_color in product_color_list %}
      <div class="col-6 col-md-4 col-lg-4 col-xl-3">
        <div class="product product-7 text-center">
          <figure class="product-media">
            {% if not product_color.is_listed %}
              <span class="product-label bg-danger text-white">Out Of Stock</span>
            {% elif latest_products %}
              <span class="product-label label-new">New</span>
            {% endif %}

            <a href="{% url 'product_single_view_page' product_color.products.name product_color.id %}"><img src="{{ product_color.main_image.url }}" alt="Product image" class="product-image" id="mainImage{{ product_color.id }}" /></a>

            <div class="product-action-vertical">
              <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
            </div>

            <div class="product-action">
              {% if not product_color.is_listed %}
                <a href="#" class="btn-product"><span>Notify Me</span></a>
              {% else %}
                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
              {% endif %}
            </div>
          </figure>

          <div class="product-body">
            <div class="product-cat">
              <a href="#">{{ product_color.products.category.name }}</a>
            </div>
            <h3 class="product-title"><a href="{% url 'product_single_view_page' product_color.products.name product_color.id %}">{{ product_color.products.name }}</a></h3>
            <div class="product-price">₹ {{ product_color.price }}.00</div>
            <div class="ratings-container">
              <div class="ratings">
                <div class="ratings-val" style="width: 20%;"></div>
              </div>
              <span class="ratings-text">( 2 Reviews )</span>
            </div>

            {% comment %} <div class="product-nav product-nav-thumbs">
              {% for product_color_image in product.productcolorimage_set.all %}
                <a href="#" onclick="changeMainImage('{{ product_color_image.main_image.url }}', '{{ product.id }}')"><img src="{{ product_color_image.main_image.url }}" alt="Product image" /></a>
              {% endfor %}
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script>
  function changeMainImage(imageUrl, productId) {
    var mainImage = document.getElementById('mainImage' + productId)
    mainImage.src = imageUrl
  }
</script>
