{% load static %}
{% if product_color_list %}
  <div class="products mb-3">
    <div class="row">
      {% for product_color in product_color_list %}
        <div class="col-6 col-md-4 col-lg-4 col-xl-3 animate__animated animate__rotateIn">
          <div class="product product-7 text-center">
            <figure class="product-media">
              {% if not product_color.in_stock %}
                <span class="product-label bg-danger text-white">Out Of Stock</span>
              {% elif product_color in latest_products %}
                <span class="product-label label-new">New</span>
              {% endif %}

              <a href="{% url 'product_single_view_page' product_color.products.name product_color.id %}"><img src="{{ product_color.main_image.url }}" alt="Product image" class="product-image" id="mainImage{{ product_color.id }}" /></a>
            </figure>

            <div class="product-body">
              <div class="product-cat">
                <a href="#">{{ product_color.products.category.name }}</a>
              </div>
              <h3 class="product-title"><a href="{% url 'product_single_view_page' product_color.products.name product_color.id %}">{{ product_color.products.name }}</a></h3>
              <div class="product-price">₹ {{ product_color.price }}.00</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if product_color_list.has_other_pages %}
    <ul class="pagination justify-content-center">
      {% if product_color_list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1{% if request.GET.urlencode %}&{{ request.GET.urlencode|slice:'1:' }}{% endif %}">&laquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ product_color_list.previous_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode|slice:'1:' }}{% endif %}">{{ product_color_list.previous_page_number }}</a>
        </li>
      {% endif %}

      <li class="page-item active">
        <a class="page-link" href="?page={{ product_color_list.number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode|slice:'1:' }}{% endif %}">{{ product_color_list.number }}</a>
      </li>

      {% if product_color_list.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ product_color_list.next_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode|slice:'1:' }}{% endif %}">{{ product_color_list.next_page_number }}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ product_color_list.paginator.num_pages }}{% if request.GET.urlencode %}&{{ request.GET.urlencode|slice:'1:' }}{% endif %}">&raquo;</a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
{% else %}
  <div class="no-products-message text-center">No products available</div>
{% endif %}
