{% load static %}
<div class="container">
    <div class="intro-slider-container slider-container-ratio mb-2">
        <div class="intro-slider owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{"nav": false}'>
            <div class="intro-slide">
                <figure class="slide-image">
                    <picture>
                        <source media="(max-width: 480px)" srcset="{% static 'user/images/carousel/3-sneakers-480w.jpg' %}">
                        <img src="{% static 'user/images/carousel/3-sneakers.jpg' %}" alt="Image Desc">
                    </picture>
                </figure><!-- End .slide-image -->

                <div class="intro-content">
                    <h3 class="intro-subtitle">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title text-white">Sneakers & Athletic Shoes</h1><!-- End .intro-title -->

                    <div class="intro-price text-white">from ₹ 1, 599</div><!-- End .intro-price -->

                    <a href="category.html" class="btn btn-white-primary btn-round">
                        <span>SHOP NOW</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->

            <div class="intro-slide">
                <figure class="slide-image">
                    <picture>
                        <source media="(max-width: 480px)" srcset="{% static 'user/images/carousel/2-boots-480w.jpg' %}">
                        <img src="{% static 'user/images/carousel/2-boots.jpg' %}" alt="Image Desc">
                    </picture>
                </figure><!-- End .slide-image -->

                <div class="intro-content">
                    <h3 class="intro-subtitle">Trending Now</h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title text-white">This Week's Most Wanted</h1><!-- End .intro-title -->

                    <div class="intro-price text-white">from ₹ 2, 199</div><!-- End .intro-price -->

                    <a href="category.html" class="btn btn-white-primary btn-round">
                        <span>SHOP NOW</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->

            <div class="intro-slide">
                <figure class="slide-image">
                    <picture>
                        <source media="(max-width: 480px)" srcset="{% static 'user/images/carousel/1-nw-480w.jpg' %}">
                        <img src="{% static 'user/images/carousel/1-nw.jpg' %}" alt="Image Desc">
                    </picture>
                </figure><!-- End .slide-image -->

                <div class="intro-content">
                    <h3 class="intro-subtitle text-white">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title text-white">Can’t-miss Clearance:</h1><!-- End .intro-title -->

                    <div class="intro-price text-white">starting at 60% off</div><!-- End .intro-price -->

                    <a href="category.html" class="btn btn-white-primary btn-round">
                        <span>SHOP NOW</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->
        </div><!-- End .intro-slider owl-carousel owl-simple -->
        <span class="slider-loader"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->
</div><!-- End .container -->