{% extends 'main_base.html' %}

{% load static %}

{% block extra_css %}

{% endblock %}

{% block page_header %}
  <div class="page-header text-center" style="background-image: url('{% static 'user/assets/images/page-header-bg.jpg' %}')">
    <div class="container">
      <h1 class="page-title">Wishlist<span>Shop</span></h1>
    </div>
  </div>
{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index_page' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Shop</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block page_content %}
  <div class="container">
    <table class="table table-wishlist table-mobile">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Stock Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for item in wishlist_items %}
          <tr>
            <td class="product-col">
              <div class="product">
                <figure class="product-media">
                  <a href="#"><img src=" {{ item.product.main_image.url }} " alt="Product image" /></a>
                </figure>

                <h3 class="product-title"><a href="{% url 'product_single_view_page' item.product.products.name item.product.id %}">{{ item.product.products.name }} - {{ item.product.color }} Color </a></h3>
              </div>
            </td>
            <td class="price-col">₹{{ item.product.price }}.00</td>
            <td class="stock-col">
              {% if item.product.in_stock %}
                <span class="in-stock">In stock</span>
              {% else %}
                <span class="in-stock text-danger">Out of stock</span>
              {% endif %}
            </td>
            <td class="remove-col">
              <a href="{% url 'remove_in_wishlist' item.product.id %}"><button class="btn-remove"><i class="icon-close"></i></button></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
