{% extends 'main_base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'user/css/detailed_order.css' %}" />
{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block page_content %}
<div class="container">
    <h1 class="page-title">Order Details</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="order-details">
                <h2>Order ID: {{ order.order_id }}</h2>
                <p>Order Status: {{ order.order_status }}</p>
                <p>Total Items: {{ order.number_of_orders }}</p>
                <p>Subtotal: ₹{{ order.subtotal }}</p>
                <p>Shipping Charge: ₹{{ order.shipping_charge }}</p>
                <p>Total Charge: ₹{{ order.total_charge }}</p>
            </div>
            <div class="order-address">
                <h2>Delivery Address</h2>
                <p><strong>Name:</strong> {{ order.customer.user.first_name }} {{ order.customer.user.last_name }}</p>
                <p><strong>Address:</strong> {{ order.address.address_line1 }}</p>
                <p><strong>City:</strong> {{ order.address.city }}</p>
                <p><strong>State:</strong> {{ order.address.state }}</p>
                <p><strong>Pincode:</strong> {{ order.address.pin_code }}</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="order-status m-5">
                <h2>Delivery Tracking</h2>
                <div class="delivery-tracking">
                    <div class="tracking-item {% if placed or shipped  or delivery or delivered %}active{% endif %}">
                        <div class="tracking-icon"></div>
                        <div class="tracking-text">Order Placed</div>
                    </div>
                    <div class="tracking-item {% if shipped or delivery or delivered %}active{% endif %}">
                        <div class="tracking-icon"></div>
                        <div class="tracking-text">Shipped</div>
                    </div>
                    <div class="tracking-item {% if delivery or delivered %}active{% endif %}">
                        <div class="tracking-icon"></div>
                        <div class="tracking-text">Out for Delivery</div>
                    </div>
                    <div class="tracking-item {% if order.order_status == 'Delivered' %}active{% endif %}">
                        <div class="tracking-icon"></div>
                        <div class="tracking-text">Delivered</div>
                    </div>
                </div>
                {% if order.order_status == 'Delivered' %}
                <button class="btn btn-primary">Return Order</button>
                {% else %}
                <button class="btn btn-danger cancel-order-btn">Cancel Order</button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            
            <h3 class="order-items-title">Product</h3>
            <div class="order-items mb-5">
                <div class="table-responsive">
                    <table class="order-items-table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order_items %}
                            <tr>
                                <td><img src="{{ item.product.product_color_image.main_image.url }}" alt="{{ item.product.product_color_image.products.name }}" /></td>
                                <td>{{ item.product.product_color_image.products.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>₹{{ item.each_price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
