<h1 class="mb-4">Your Orders</h1>

{% if order_items %}
  {% regroup order_items by order.order as order_items_list %}
  <div class="list-group">
    {% for order_group in order_items_list %}
      <div class="list-group-item list-group-item-action my-5 rounded rounded-1 border border-2 ">
        {% for item in order_group.list %}
          <a href="{% url 'order_detail' item.order_items_id %}">
            <div class="d-flex flex-wrap align-items-center justify-content-between mt-4 px-2 border border-2">
              <img src="{{ item.product.product_color_image.main_image.url }}" alt="Product Image" class="img-fluid rounded w-100 mb-3 mb-md-0" style="max-width: 150px;" />
              <div class="flex-grow-1 ms-md-3">
                <h4 class="mb-1">Order ID : {{ item.order_items_id }}</h4>
                
                  {% if item.order_status == 'Cancelled' %}
                  <p class="mb-1 text-danger border border-1 border-danger w-50 px-2 rounded rounded-1">
                    <strong>Order Status :  {{ item.order_status }}</strong>
                  </p>
                  {% elif item.order_status == 'Returned' %}
                  <p class="mb-1 text-warning border border-1 border-warning w-50 px-2 rounded rounded-1">
                    <strong>Order Status : {{ item.order_status }}</strong>
                  </p>
                  {% else %}
                  <p class="mb-1">
                    <strong>Order Status :</strong> {{ item.order_status }}
                  </p>
                  {% endif %}
                
                <p class="mb-1">
                  <strong>Product Name :</strong> {{ item.product.product_color_image.products.name }}
                </p>
                <p class="mb-1">
                  <strong>Payment :</strong> {{ item.order.payment.method_name }}
                </p>
                <p class="mb-1">
                  <strong>Price :</strong> ₹{{ item.each_price }}.00
                </p>
                <p class="mb-1">
                  <strong>Quantity :</strong> {{ item.quantity }}
                </p>
              </div>
            </div>
          </a>
          <hr />
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No orders have been made yet.</p>
  <a href="{% url 'shop_page_view' %}" class="btn btn-outline-primary mt-3"><span>Go Shopping</span><i class="fas fa-long-arrow-alt-right ms-2"></i></a>
{% endif %}
