{% extends 'main_base.html' %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'user/css/detailed_order.css' %}" />
{% endblock %}

{% block breadcrumbs %}

{% endblock %}

{% block page_content %}
  <div class="container">
    <h1 class="page-title">Order Details</h1>
    <div class="row">
      <div class="col-lg-6">
        <div class="order-details">
          <h2>Order ITEM ID : {{ order_items.order_items_id }}</h2>
          <h6>Order ID : {{ order_items.order.order_id }}</h6>
          <p>Order Status : {{ order_items.order_status }}</p>
          <p>Total Quantity : {{ order_items.quantity }}</p>
          
          {% if order_items.order.coupon_applied %}
            <p>Coupon Code : {{ order_items.order.coupon_name }} </p>
            {% if order_items.order.number_of_orders == 1 %}
              <p>Price : ₹{{ order_items.order.total_charge }}</p>
            {% else %}
              <p>Price : ₹{{ order_items.each_price }}</p>
            {% endif %}
          {% else %}
            <p>Price : ₹{{ order_items.each_price }}</p>
          {% endif %}

          {% if order_items.order.shipping_charge > 0 %}
            <p>Shipping Charge : ₹{{ order_items.order.shipping_charge }}.00</p>
          {% endif %}

        </div>
        <div class="order-address">
          <h2>Delivery Address</h2>
          <p>
            <strong>Name:</strong> {{ order_items.order.customer.user.first_name }} {{ order_items.customer.user.last_name }}
          </p>
          <p>
            <strong>Address:</strong> {{ order_items.order.address.street_address }}
          </p>
          <p>
            <strong>City:</strong> {{ order_items.order.address.city }}
          </p>
          <p>
            <strong>State:</strong> {{ order_items.order.address.state }}
          </p>
          <p>
            <strong>Pincode:</strong> {{ order_items.order.address.pin_code }}
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        {% if not order_items.request_return %}
          {% if not order_items.request_cancel %}
            <div class="order-status m-5">
              <h2>Delivery Tracking</h2>
              <div class="delivery-tracking">
                <div class="tracking-item {% if placed or shipped or delivery or delivered %}active{% endif %}">
                  <div class="tracking-icon"></div>
                  <div class="tracking-text">
                    Order Placed <br /> <small>{{ order_items.order.placed_at }}</small>
                  </div>
                </div>
                <div class="tracking-item {% if shipped or delivery or delivered %}active{% endif %}">
                  <div class="tracking-icon"></div>
                  <div class="tracking-text">Shipped</div>
                </div>
                <div class="tracking-item {% if delivery or delivered %}active{% endif %}">
                  <div class="tracking-icon"></div>
                  <div class="tracking-text">Out for Delivery</div>
                </div>
                <div class="tracking-item {% if order_items.order_status == 'Delivered' %}active{% endif %}">
                  <div class="tracking-icon"></div>
                  <div class="tracking-text">
                    Delivered {% if order_items.order_status == 'Delivered' %}<br /> <small>{{ order_items.delivery_date }}</small>{% endif %}
                  </div>
                </div>
              </div>
              {% if order_items.order_status == 'Delivered' %}
                {% if can_return_product %}
                  <a href="{% url 'sent_return_request' order_items.order_items_id %}"><button class="btn btn-primary">Return Order</button></a>
                {% else %}
                  <span>Return policy ended on {{ return_end_date }}</span>
                {% endif %}
              {% elif order_items.order_status == 'Order Placed' %}
              
                <button id="cancelOrderBtn" class="btn btn-danger">Cancel Order</button>
              {% endif %}
            </div>
          {% elif order_items.cancel_product %}
            <div class="order-status m-5">
              <div class="tracking-item {% if placed or shipped or delivery or order_items.cancel_product %}active{% endif %}">
                <div class="tracking-icon"></div>
                <div class="tracking-text">Order Placed</div>
              </div>
              <div class="tracking-item {% if shipped or delivery or order_items.cancel_product %}active{% endif %}">
                <div class="tracking-icon"></div>
                <div class="tracking-text">Cancelled</div>
              </div>
            </div>
            {% if order_items.order.payment.method_name == "Razorpay" or order_items.order.payment.method_name == "Wallet" %}
              <div class="card refund-card">
                  <div class="card-body">
                      <div class="refund-icon w-25">
                        <img class="img-fluid w-25 py-3" src="{% static 'user/images/payment_logo/cash-back.png' %}" alt="Refund Icon">
                      </div>
                      <div class="refund-text fs-3">
                          <h4 class="py-2">Refund Processed Successfully</h4>
                          <strong>Refund Details</strong>
                          <div class="refund-details">
                              <p>
                                  <strong>Transaction ID :</strong> {{ wallet_transaction.transaction_id }}
                              </p>
                              <p>
                                  <strong>Refund Amount :</strong> ₹{{ wallet_transaction.money_deposit }}.00
                              </p>
                              <p>
                                  <strong>Refund Date :</strong> {{ wallet_transaction.time_of_transaction|date:"D, d M Y" }}
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
            {% endif %}
          {% else %}
            <div class="order-status m-5">
              <div class="refund-tracking">
                <div class="tracking-item {% if order_items.request_cancel %}active{% endif %}">
                  <div class="tracking-icon"></div>
                  <div class="tracking-text">
                    Order Placed
                  </div>
                </div>
                <div class="tracking-item {% if order_items.request_cancel %}active{% endif %}">
                  <div class="tracking-icon"></div>
                  <div class="tracking-text">
                    Cancel requested
                  </div>
                </div>
                <div class="tracking-item {% if order_items.cancel_product %}active{% endif %}">
                  <div class="tracking-icon"></div>
                  <div class="tracking-text">
                    Cancelled
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% else %}
          <div class="order-status m-5">
            <p><strong>Refund Status :</strong>
                {% if not order_items.return_product %}
                  Return requested
                {% else %}
                  The money was added to your wallet
                {% endif %}
            </p>
            <div class="refund-tracking">
              <div class="tracking-item {% if order_items.request_return %}active{% endif %}">
                <div class="tracking-icon"></div>
                <div class="tracking-text">
                  Order Placed
                </div>
              </div>
              <div class="tracking-item {% if order_items.request_return %}active{% endif %}">
                <div class="tracking-icon"></div>
                <div class="tracking-text">
                  Delivered
                </div>
              </div>
              <div class="tracking-item {% if order_items.request_return %}active{% endif %}">
                <div class="tracking-icon"></div>
                <div class="tracking-text">
                  Return
                </div>
              </div>
              <div class="tracking-item {% if order_items.return_product %}active{% endif %}">
                <div class="tracking-icon"></div>
                <div class="tracking-text">
                  Refund
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="order-items-title">Product</h3>
        <div class="order-items mb-5">
          <div class="table-responsive">
            <table class="order-items-table">
              <thead>
                <tr class="text-center">
                  <th>Image</th>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  {% if order_items.order.coupon_applied %}
                    {% if order_items.order.number_of_orders == 1 %}
                      <th>Coupon Discount</th>
                    {% endif %}
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <td class="text-center">
                    <div class="d-flex justify-content-center">
                        <img src="{{ order_items.product.product_color_image.main_image.url }}" alt="{{ item.product.product_color_image.products.name }}" />
                    </div>
                  </td>
                  <td>{{ order_items.product.product_color_image.products.name }}</td>
                  <td>{{ order_items.quantity }}</td>
                  <td>₹{{ order_items.each_price }}.00</td>
                  {% if order_items.order.coupon_applied %}
                    {% if order_items.order.number_of_orders == 1 %}
                      <td>₹{{ order_items.order.total_charge }}.00</td>
                    {% endif %}
                  {% endif %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="cancelOrderModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Cancel Order</h2>
      <p>Please select a reason for cancelling your order:</p>
      <select id="cancelReasonSelect" required>
        <option value="Item no longer needed">Item no longer needed</option>
        <option value="Found a better price elsewhere">Found a better price elsewhere</option>
        <option value="Ordered by mistake">Ordered by mistake</option>
        <option value="Shipping time too long">Shipping time too long</option>
        <option value="Other">Other</option>
      </select>
      <br /><br />
      <a class="w-100 my-2" href="{% url 'cancel_order' order_items.order_items_id %}"><button class="btn btn-danger w-100">Cancel Order</button></a>
      <button id="closeModalBtn" class="btn btn-secondary">Close</button>
    </div>
  </div>
{% endblock %}

{% block custom_scripts %}
  <script src="{% static 'user/js/cancel_modal.js' %}"></script>
{% endblock %}
