{% extends 'admin_base.html' %}

{% load static %}

{% block title %}
  <title>Sneakerheads Manage Offer</title>
{% endblock %}

{% block custom_css %}
  <link rel="stylesheet" href="{% static 'admin_css/orders.css' %}" />
{% endblock %}

{% block content %}
  <div class="orders">
    <h1>Manage Category Offer</h1>
    {% if messages %}
      {% for message in messages %}
        <div class="text-center container my-4">
          {% if message.tags == 'success' %}
            <h4 style="color: green;">{{ message }}</h4>
          {% elif message.tags == 'error' %}
            <h4 style="color: red;">{{ message }}</h4>
          {% elif message.tags == 'info' %}
            <h4 style="color: blue;">{{ message }}</h4>
          {% else %}
            <h4>{{ message }}</h4>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
    <table>
      <thead>
        <tr>
          <th class="category-column">Category</th>
          <th class="discount-column">Discount Percentage</th>
          <th class="start-column">Start Date</th>
          <th class="end-column">End Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for offer in category_offers %}
          <tr>
            <td>
              {% if offer.end_date < today %}
                  <div class="expired-offer">
                      <p class="mb-1 text-danger">{{ offer.category.name }}</p>
                      <span class="badge text-white bg-danger">Offer Expired</span>
                  </div>
              {% else %}
                  <div class="active-offer">
                    <a href="{% url 'category_offer_edit_page' offer.category.name %}">{{ offer.category.name }}</a>
                  </div>
              {% endif %}
            </td>
            <td>{{ offer.discount_percentage }}%</td>
            <td>{{ offer.start_date }}</td>
            <td>{{ offer.end_date }}</td>
            <td>
              <a href="{% url 'delete_category_offer' offer.id %}"><button class="btn btn-dark rounded rounded-1">Delete</button></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
